Version 3/SI/Slovenian profile on traffic counting data/schema/DATEXII_3_RoadTrafficData.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:roa="http://datex2.eu/schema/3/roadTrafficData" version="3.3" targetNamespace="http://datex2.eu/schema/3/roadTrafficData" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_MeasuredOrDerivedDataTypeEnum">
    <xs:simpleContent>
      <xs:extension base="roa:MeasuredOrDerivedDataTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteIndexMeasurementSpecificCharacteristics">
    <xs:sequence>
      <xs:element name="measurementSpecificCharacteristics" type="roa:MeasurementSpecificCharacteristics" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="roa:MeasurementSiteTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="roa:MeasurementSite" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_SiteMeasurementsIndexPhysicalQuantity">
    <xs:sequence>
      <xs:element name="physicalQuantity" type="roa:PhysicalQuantity" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_TimeMeaningEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TimeMeaningEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AxleCharacteristics">
    <xs:annotation>
      <xs:documentation>Characteristics of vehicle axles</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="maximumWeight" type="com:Tonnes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Maximum axle weight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minimumWeight" type="com:Tonnes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Minimum axle weight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_axleCharacteristicsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AxleFlowValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of the flow rate of vehicle axles.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="axleFlowRate" type="com:AxlesPerHour" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A value of the flow rate of vehicle axles expressed in axles per hour.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_axleFlowValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BasicData" abstract="true">
    <xs:annotation>
      <xs:documentation>Data that are either measured or calculated at the same time or over the same time period.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementOrCalculationTime" type="roa:MeasurementOrCalculationTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Characteristics of the measurement or calculation time which should be considered to override any specified defaults</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_basicDataExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DailyTrafficFlowValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of daily traffic flow</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="vehicleFlowRate" type="roa:VehiclesPerDay" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Value of daily vehicle flow in units of vehicles per day</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_dailyTrafficFlowValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DensityVehiclesPerKilometre">
    <xs:annotation>
      <xs:documentation>A measure of traffic density defined in number of vehicles per kilometre of road.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:NonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="DurationValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of a period of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="duration" type="com:Seconds" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A period of time expressed in seconds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_durationValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasuredDataPublication">
    <xs:annotation>
      <xs:documentation>A publication containing one or more measurement data sets, each set being measured at a single measurement site.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="measurementSiteTableReference" type="roa:_MeasurementSiteTableVersionedReference" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A reference to a versioned Measurement Site table.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="siteMeasurements" type="roa:SiteMeasurements" maxOccurs="unbounded" />
          <xs:element name="_measuredDataPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeasuredOrDerivedDataTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of measured or derived data.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="trafficConcentration">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic concentration information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficFlow">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic flow information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficGap">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic gap information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficHeadway">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic headway information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="trafficSpeed">
        <xs:annotation>
          <xs:documentation>Measured or derived traffic speed information.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasurementOrCalculationTime">
    <xs:annotation>
      <xs:documentation>Describes the time at which a measured or calculated value or set of values was measured or calculated. It may be a future time at which a data value is predicted to apply.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="timeMeaning" type="roa:_TimeMeaningEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Meaning of associated time value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeValue" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Point in time at which this specific value or set of values has been measured or calculated. It may also be a future time at which a data value is predicted.  It may be the time of the beginning, the end or the middle of a measurement period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="com:Period" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The measurement or calculation period</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measurementOrCalculationTimeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="timePrecision" type="com:TimePrecisionEnum" use="optional">
      <xs:annotation>
        <xs:documentation>The precision to which the time of measurement or calculation is given.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="MeasurementSite">
    <xs:annotation>
      <xs:documentation>An identifiable single measurement site entry/record in the measurement site table.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementSiteRecordVersionTime" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date/time that this version of the measurement site record was defined. The identity and version of the measurement site record are defined by the class stereotype implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementSiteName" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Name of a measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementSiteIdentification" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identification of a measurement site used by the supplier or consumer systems.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementSpecificCharacteristics" type="roa:_MeasurementSiteIndexMeasurementSpecificCharacteristics" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indexed measurement-specific characteristics associated with the measurement site. The index uniquely associates the measurement characteristics with the corresponding indexed measurement values for the measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementSiteLocation" type="loc:LocationReference" />
      <xs:element name="informationManagerOverride" type="com:InternationalIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content. This value overrides any value specified at a more general level.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measurementSiteExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="MeasurementSiteTable">
    <xs:annotation>
      <xs:documentation>A Measurement Site Table comprising a number of sets of data, each describing the location from where a stream of measured data may be derived.  Each location is known as a "measurement site" which can be a point, a linear road section or an area.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementSiteTableIdentification" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An alphanumeric identification for the measurement site table, possibly human readable. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementSite" type="roa:MeasurementSite" maxOccurs="unbounded" />
      <xs:element name="informationManager" type="com:InternationalIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measurementSiteTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="MeasurementSiteTablePublication">
    <xs:annotation>
      <xs:documentation>A publication containing one or more Measurement Site Tables.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="measurementSiteTable" type="roa:MeasurementSiteTable" maxOccurs="unbounded" />
          <xs:element name="_measurementSiteTablePublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementSpecificCharacteristics">
    <xs:annotation>
      <xs:documentation>Characteristics which are specific to an individual measurement type (specified in a known order) at the given measurement site.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="period" type="com:Seconds" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The time elapsed between the beginning and the end of the sampling or measurement period. This item may differ from the unit attribute; e.g. an hourly flow can be estimated from a 5-minute measurement period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specificMeasurementValueType" type="roa:_MeasuredOrDerivedDataTypeEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The type of this specific measurement at the measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="specificVehicleCharacteristics" type="com:VehicleCharacteristics" minOccurs="0" />
      <xs:element name="_measurementSpecificCharacteristicsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PassengerCarUnitsPerHour">
    <xs:annotation>
      <xs:documentation>Passenger car units per hour.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:NonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="PcuFlowValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of the flow rate of passenger car units.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="pcuFlowRate" type="roa:PassengerCarUnitsPerHour" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A value of passenger car unit flow rate expressed in passenger car units per hour.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_pcuFlowValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PhysicalQuantity" abstract="true">
    <xs:annotation>
      <xs:documentation>A measured or calculated physical quantity, with related properties explaining its context, meaning or status</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="pertinentLocation" type="loc:LocationReference" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The location (e.g. the stretch of road or area) to which the data value(s) is or are pertinent/relevant. This may be different from the location of the measurement equipment (i.e. the measurement site location). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="com:Source" minOccurs="0" />
      <xs:element name="_physicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SinglePhysicalQuantity">
    <xs:annotation>
      <xs:documentation>A measured or calculated physical quantity at a single instant or period in time, with related properties explaining its context, meaning or status</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:PhysicalQuantity">
        <xs:sequence>
          <xs:element name="basicData" type="roa:BasicData" minOccurs="0" />
          <xs:element name="_singlePhysicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SiteMeasurements">
    <xs:annotation>
      <xs:documentation>A  measurement data set derived from a specific measurement site.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementSiteReference" type="roa:_MeasurementSiteVersionedReference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A reference to a versioned measurement site record defined in a Measurement Site table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="physicalQuantity" type="roa:_SiteMeasurementsIndexPhysicalQuantity" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indexed measured value associated with the measurement site. The index uniquely associates the measurement value with the corresponding indexed measurement characteristics defined for the measurement site.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="measurementTimeDefault" type="roa:MeasurementOrCalculationTime">
        <xs:annotation>
          <xs:documentation>The time associated with the set of measurements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_siteMeasurementsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpeedPercentile">
    <xs:annotation>
      <xs:documentation>Details of percentage (from an observation set) of vehicles whose speeds fall below a stated value.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="vehiclePercentage" type="com:PercentageValue">
        <xs:annotation>
          <xs:documentation>The percentage of vehicles from the observation set whose speeds fall below the stated speed (speedPercentile).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="speedPercentile" type="com:SpeedValue">
        <xs:annotation>
          <xs:documentation>The speed below which the associated percentage of vehicles in the measurement set are travelling at.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_speedPercentileExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TimeMeaningEnum">
    <xs:annotation>
      <xs:documentation>Explains the meaning of a specific time value with respect to a time period</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="beginTime">
        <xs:annotation>
          <xs:documentation>Meaning the beginning of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="endTime">
        <xs:annotation>
          <xs:documentation>Meaning the end of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="middleTime">
        <xs:annotation>
          <xs:documentation>Meaning the mid-point of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TrafficConcentration">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic concentration.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="density" type="roa:TrafficDensityValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of the concentration of vehicles at the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="occupancy" type="com:PercentageValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of the percentage of time that a section of road at the specified measurement site is occupied by vehicles.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficConcentrationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficData" abstract="true">
    <xs:annotation>
      <xs:documentation>Measured or derived values relating to traffic or individual vehicle movements on a specific section or at a specific point on the road network.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:BasicData">
        <xs:sequence>
          <xs:element name="forVehiclesWithCharacteristicsOf" type="com:VehicleCharacteristics" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Used to define the vehicle characteristics to which the TrafficValue is applicable primarily in Elaborated Data Publications, but may also be used in Measured Data Publications to override vehicle characteristics defined for the measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficDataExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficDensityValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of the density of vehicles on a unit stretch of road in a given direction.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="densityOfVehicles" type="roa:DensityVehiclesPerKilometre" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A value of traffic density expressed in the number of vehicles per kilometre of road.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficDensityValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficFlow">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic flow rates.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="axleFlow" type="roa:AxleFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of flow rate defined in terms of the number of vehicle axles passing the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="pcuFlow" type="roa:PcuFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of flow rate defined in terms of the number of passenger car units passing the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="percentageLongVehicles" type="com:PercentageValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of the percentage of long vehicles contained in the traffic flow at the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="vehicleFlow" type="com:VehicleFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement of flow rate defined in terms of the number of vehicles passing the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="normallyExpectedFlow" type="com:VehicleFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The vehicle flow which is expected for the given period (e.g. date/time, holiday status etc.) and any known quasi-static conditions (e.g. long-term roadworks). This value is derived from historical analysis.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="annualAverageDailyTraffic" type="roa:DailyTrafficFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Daily traffic flow averaged from the total over one year.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="monthlyAverageDailyTraffic" type="roa:DailyTrafficFlowValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Daily traffic flow averaged from the total over one month.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="axleCharacteristics" type="roa:AxleCharacteristics" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Axle characteristics for which the flow measurement applies.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficFlowExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficGap">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic gap i.e. the distance or time interval between vehicles, measured between the rear of one vehicle and the front of the following vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="averageDistanceGap" type="com:FloatingPointMetreDistanceValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The average distance between the front of one vehicle and the rear of the preceding vehicle, averaged for all vehicles within a defined measurement period at the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="averageTimeGap" type="roa:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The average time gap between the front of one vehicle and the rear of the preceding vehicle, averaged for all vehicles within a defined measurement period at the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficGapExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficHeadway">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic headway, i.e. the distance or time interval between vehicles. This is measured one end (normally the front) of one vehicle to the same end of the following vehicle.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="averageDistanceHeadway" type="com:FloatingPointMetreDistanceValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The average distance between one end (normally the front) of this vehicle and the same end of the preceding vehicle, averaged for all vehicles within a defined measurement period at the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="averageTimeHeadway" type="roa:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The average time interval between one end (normally the front) of this vehicle and the same end of the preceding vehicle, averaged for all vehicles within a defined measurement period at the specified measurement site.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficHeadwayExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficSpeed">
    <xs:annotation>
      <xs:documentation>Averaged measurements or calculations of traffic speed.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:TrafficData">
        <xs:sequence>
          <xs:element name="averageVehicleSpeed" type="com:SpeedValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>An averaged measurement or calculation of the speed of vehicles at the specified location.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="speedPercentile" type="roa:SpeedPercentile" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="normallyExpectedSpeed" type="com:SpeedValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The average vehicle speed which is expected for the given period (e.g. date/time, holiday status etc.) and any known quasi-static conditions (e.g. long-term roadworks). This value is derived from historical analysis.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="minimumSpeed" type="com:SpeedValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The minimum speed</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="maximumSpeed" type="com:SpeedValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The maximum speed</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficSpeedExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VehiclesPerDay">
    <xs:annotation>
      <xs:documentation>A rate of vehicle flow in units of vehicles per day</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:NonNegativeInteger" />
  </xs:simpleType>
</xs:schema>