Version 2/Austrian Elementary Profile TRAFFIC SIGNS/schema/AustrianTrafficSignsProfile.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:D2LogicalModel="http://datex2.eu/schema/2/2_0" version="2.3" targetNamespace="http://datex2.eu/schema/2/2_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="_AffectedCarriagewayAndLanesExtensionType">
    <xs:sequence>
      <xs:element name="extendedAffectedCarriagewayAndLanes" type="D2LogicalModel:ExtendedAffectedCarriagewayAndLanes" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_ExtensionType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_PayloadPublicationExtensionType">
    <xs:sequence>
      <xs:element name="payloadPublicationExtended" type="D2LogicalModel:PayloadPublicationExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_TextPage">
    <xs:sequence>
      <xs:element name="vmsText" type="D2LogicalModel:VmsText" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pageNumber" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsMessageIndexVmsMessage">
    <xs:sequence>
      <xs:element name="vmsMessage" type="D2LogicalModel:VmsMessage" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="messageIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsMessagePictogramDisplayAreaIndexVmsPictogramDisplayArea">
    <xs:sequence>
      <xs:element name="vmsPictogramDisplayArea" type="D2LogicalModel:VmsPictogramDisplayArea" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pictogramDisplayAreaIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsPictogramDisplayAreaIndexPictogramDisplayAreaSettings">
    <xs:sequence>
      <xs:element name="pictogramDisplayAreaSettings" type="D2LogicalModel:PictogramDisplayAreaSettings" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pictogramDisplayAreaIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsPictogramDisplayAreaPictogramSequencingIndexVmsPictogram">
    <xs:sequence>
      <xs:element name="vmsPictogram" type="D2LogicalModel:VmsPictogram" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pictogramSequencingIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsRecordPictogramDisplayAreaIndexVmsPictogramDisplayCharacteristics">
    <xs:sequence>
      <xs:element name="vmsPictogramDisplayCharacteristics" type="D2LogicalModel:VmsPictogramDisplayCharacteristics" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="pictogramDisplayAreaIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsTextLineIndexVmsTextLine">
    <xs:sequence>
      <xs:element name="vmsTextLine" type="D2LogicalModel:VmsTextLine" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="lineIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsUnitRecordExtensionType">
    <xs:sequence>
      <xs:element name="extendedVmsUnitRecord" type="D2LogicalModel:ExtendedVmsUnitRecord" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_VmsUnitRecordVersionedReference">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:VersionedReference">
        <xs:attribute name="targetClass" use="required" fixed="VmsUnitRecord" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_VmsUnitRecordVmsIndexVmsRecord">
    <xs:sequence>
      <xs:element name="vmsRecord" type="D2LogicalModel:VmsRecord" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="vmsIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_VmsUnitTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:VersionedReference">
        <xs:attribute name="targetClass" use="required" fixed="VmsUnitTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_VmsUnitVmsIndexVms">
    <xs:sequence>
      <xs:element name="vms" type="D2LogicalModel:Vms" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="vmsIndex" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="AdditionalCarriagewayDetails">
    <xs:sequence>
      <xs:element name="originalNumberOfLanes" type="D2LogicalModel:NonNegativeInteger" minOccurs="1" maxOccurs="1" />
      <xs:element name="isHardShoulderUsable" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalVmsDetails">
    <xs:sequence>
      <xs:element name="canDisplaySpeedSign" type="D2LogicalModel:Boolean" minOccurs="1" maxOccurs="1" />
      <xs:element name="category" type="D2LogicalModel:VmsCategoryEnum" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AffectedCarriagewayAndLanes">
    <xs:sequence>
      <xs:element name="carriageway" type="D2LogicalModel:CarriagewayEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="lane" type="D2LogicalModel:LaneEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="affectedCarriagewayAndLanesExtension" type="D2LogicalModel:_AffectedCarriagewayAndLanesExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AngleInDegrees">
    <xs:restriction base="D2LogicalModel:NonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="AreaOfInterestEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="continentWide" />
      <xs:enumeration value="national" />
      <xs:enumeration value="neighbouringCountries" />
      <xs:enumeration value="notSpecified" />
      <xs:enumeration value="regional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Boolean">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:simpleType name="CarriagewayEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="connectingCarriageway" />
      <xs:enumeration value="entrySlipRoad" />
      <xs:enumeration value="exitSlipRoad" />
      <xs:enumeration value="flyover" />
      <xs:enumeration value="leftHandFeederRoad" />
      <xs:enumeration value="leftHandParallelCarriageway" />
      <xs:enumeration value="mainCarriageway" />
      <xs:enumeration value="oppositeCarriageway" />
      <xs:enumeration value="parallelCarriageway" />
      <xs:enumeration value="rightHandFeederRoad" />
      <xs:enumeration value="rightHandParallelCarriageway" />
      <xs:enumeration value="roundabout" />
      <xs:enumeration value="serviceRoad" />
      <xs:enumeration value="slipRoads" />
      <xs:enumeration value="underpass" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ConfidentialityValueEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="internalUse" />
      <xs:enumeration value="noRestriction" />
      <xs:enumeration value="restrictedToAuthorities" />
      <xs:enumeration value="restrictedToAuthoritiesAndTrafficOperators" />
      <xs:enumeration value="restrictedToAuthoritiesTrafficOperatorsAndPublishers" />
      <xs:enumeration value="restrictedToAuthoritiesTrafficOperatorsAndVms" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="at" />
      <xs:enumeration value="be" />
      <xs:enumeration value="bg" />
      <xs:enumeration value="ch" />
      <xs:enumeration value="cs" />
      <xs:enumeration value="cy" />
      <xs:enumeration value="cz" />
      <xs:enumeration value="de" />
      <xs:enumeration value="dk" />
      <xs:enumeration value="ee" />
      <xs:enumeration value="es" />
      <xs:enumeration value="fi" />
      <xs:enumeration value="fo" />
      <xs:enumeration value="fr" />
      <xs:enumeration value="gb" />
      <xs:enumeration value="gg" />
      <xs:enumeration value="gi" />
      <xs:enumeration value="gr" />
      <xs:enumeration value="hr" />
      <xs:enumeration value="hu" />
      <xs:enumeration value="ie" />
      <xs:enumeration value="im" />
      <xs:enumeration value="is" />
      <xs:enumeration value="it" />
      <xs:enumeration value="je" />
      <xs:enumeration value="li" />
      <xs:enumeration value="lt" />
      <xs:enumeration value="lu" />
      <xs:enumeration value="lv" />
      <xs:enumeration value="ma" />
      <xs:enumeration value="mc" />
      <xs:enumeration value="mk" />
      <xs:enumeration value="mt" />
      <xs:enumeration value="nl" />
      <xs:enumeration value="no" />
      <xs:enumeration value="pl" />
      <xs:enumeration value="pt" />
      <xs:enumeration value="ro" />
      <xs:enumeration value="se" />
      <xs:enumeration value="si" />
      <xs:enumeration value="sk" />
      <xs:enumeration value="sm" />
      <xs:enumeration value="tr" />
      <xs:enumeration value="va" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="d2LogicalModel" type="D2LogicalModel:D2LogicalModel">
    <xs:unique name="_d2LogicalModelVmsUnitTableConstraint">
      <xs:selector xpath=".//D2LogicalModel:vmsUnitTable" />
      <xs:field xpath="@id" />
      <xs:field xpath="@version" />
    </xs:unique>
    <xs:unique name="_d2LogicalModelVmsUnitRecordConstraint">
      <xs:selector xpath=".//D2LogicalModel:vmsUnitRecord" />
      <xs:field xpath="@id" />
      <xs:field xpath="@version" />
    </xs:unique>
  </xs:element>
  <xs:complexType name="D2LogicalModel">
    <xs:sequence>
      <xs:element name="exchange" type="D2LogicalModel:Exchange" />
      <xs:element name="payloadPublication" type="D2LogicalModel:PayloadPublication" minOccurs="0" />
      <xs:element name="d2LogicalModelExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="modelBaseVersion" use="required" fixed="2" />
    <xs:attribute name="extensionName" use="optional" default="TrafficSignsExtensions" />
    <xs:attribute name="extensionVersion" use="optional" default="1.9" />
  </xs:complexType>
  <xs:simpleType name="DateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:complexType name="DeltaId">
    <xs:sequence />
    <xs:attribute name="id" type="D2LogicalModel:NonNegativeInteger" use="required" />
  </xs:complexType>
  <xs:simpleType name="DirectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allDirections" />
      <xs:enumeration value="bothWays" />
      <xs:enumeration value="clockwise" />
      <xs:enumeration value="anticlockwise" />
      <xs:enumeration value="innerRing" />
      <xs:enumeration value="outerRing" />
      <xs:enumeration value="northBound" />
      <xs:enumeration value="northEastBound" />
      <xs:enumeration value="eastBound" />
      <xs:enumeration value="southEastBound" />
      <xs:enumeration value="southBound" />
      <xs:enumeration value="southWestBound" />
      <xs:enumeration value="westBound" />
      <xs:enumeration value="northWestBound" />
      <xs:enumeration value="inboundTowardsTown" />
      <xs:enumeration value="outboundFromTown" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="opposite" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DistanceAlongLinearElement" abstract="true">
    <xs:sequence>
      <xs:element name="distanceAlongLinearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DistanceFromLinearElementReferent">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DistanceAlongLinearElement">
        <xs:sequence>
          <xs:element name="distanceAlong" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
          <xs:element name="fromReferent" type="D2LogicalModel:Referent" />
          <xs:element name="towardsReferent" type="D2LogicalModel:Referent" minOccurs="0" />
          <xs:element name="distanceFromLinearElementReferentExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DistanceFromLinearElementStart">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DistanceAlongLinearElement">
        <xs:sequence>
          <xs:element name="distanceAlong" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
          <xs:element name="distanceFromLinearElementStartExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElaboratedDataFault">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Fault">
        <xs:sequence>
          <xs:element name="elaboratedDataFault" type="D2LogicalModel:ElaboratedDataFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="elaboratedDataFaultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ElaboratedDataFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="intermittentDataValues" />
      <xs:enumeration value="noDataValuesAvailable" />
      <xs:enumeration value="spuriousUnreliableDataValues" />
      <xs:enumeration value="unspecifiedOrUnknownFault" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Exchange">
    <xs:sequence>
      <xs:element name="supplierIdentification" type="D2LogicalModel:InternationalIdentifier" />
      <xs:element name="exchangeExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedAffectedCarriagewayAndLanes">
    <xs:sequence>
      <xs:element name="additionalCarriagewayDetails" type="D2LogicalModel:AdditionalCarriagewayDetails" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedVmsUnitRecord">
    <xs:sequence>
      <xs:element name="additionalVmsUnitRecordDetails" type="D2LogicalModel:AdditionalVmsDetails" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="faultIdentifier" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultDescription" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultCreationTime" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultLastUpdateTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="faultSeverity" type="D2LogicalModel:FaultSeverityEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FaultSeverityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low" />
      <xs:enumeration value="medium" />
      <xs:enumeration value="high" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Float">
    <xs:restriction base="xs:float" />
  </xs:simpleType>
  <xs:complexType name="GroupOfLocations" abstract="true">
    <xs:sequence>
      <xs:element name="groupOfLocationsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderInformation">
    <xs:sequence>
      <xs:element name="areaOfInterest" type="D2LogicalModel:AreaOfInterestEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="confidentiality" type="D2LogicalModel:ConfidentialityValueEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="informationStatus" type="D2LogicalModel:InformationStatusEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="urgency" type="D2LogicalModel:UrgencyEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="headerInformationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="InformationStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="real" />
      <xs:enumeration value="securityExercise" />
      <xs:enumeration value="technicalExercise" />
      <xs:enumeration value="test" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InternationalIdentifier">
    <xs:sequence>
      <xs:element name="country" type="D2LogicalModel:CountryEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="nationalIdentifier" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="internationalIdentifierExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="KilometresPerHour">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:simpleType name="LaneEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allLanesCompleteCarriageway" />
      <xs:enumeration value="busLane" />
      <xs:enumeration value="busStop" />
      <xs:enumeration value="carPoolLane" />
      <xs:enumeration value="centralReservation" />
      <xs:enumeration value="crawlerLane" />
      <xs:enumeration value="emergencyLane" />
      <xs:enumeration value="escapeLane" />
      <xs:enumeration value="expressLane" />
      <xs:enumeration value="hardShoulder" />
      <xs:enumeration value="heavyVehicleLane" />
      <xs:enumeration value="lane1" />
      <xs:enumeration value="lane2" />
      <xs:enumeration value="lane3" />
      <xs:enumeration value="lane4" />
      <xs:enumeration value="lane5" />
      <xs:enumeration value="lane6" />
      <xs:enumeration value="lane7" />
      <xs:enumeration value="lane8" />
      <xs:enumeration value="lane9" />
      <xs:enumeration value="layBy" />
      <xs:enumeration value="leftHandTurningLane" />
      <xs:enumeration value="leftLane" />
      <xs:enumeration value="localTrafficLane" />
      <xs:enumeration value="middleLane" />
      <xs:enumeration value="opposingLanes" />
      <xs:enumeration value="overtakingLane" />
      <xs:enumeration value="rightHandTurningLane" />
      <xs:enumeration value="rightLane" />
      <xs:enumeration value="rushHourLane" />
      <xs:enumeration value="setDownArea" />
      <xs:enumeration value="slowVehicleLane" />
      <xs:enumeration value="throughTrafficLane" />
      <xs:enumeration value="tidalFlowLane" />
      <xs:enumeration value="turningLane" />
      <xs:enumeration value="verge" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Language">
    <xs:restriction base="xs:language" />
  </xs:simpleType>
  <xs:complexType name="LinearElement">
    <xs:sequence>
      <xs:element name="roadName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="roadNumber" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LinearReferencingDirectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="both" />
      <xs:enumeration value="opposite" />
      <xs:enumeration value="aligned" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Location" abstract="true">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:GroupOfLocations">
        <xs:sequence>
          <xs:element name="locationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementEquipmentFault">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Fault">
        <xs:sequence>
          <xs:element name="measurementEquipmentFault" type="D2LogicalModel:MeasurementEquipmentFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="measurementEquipmentFaultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeasurementEquipmentFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="intermittentDataValues" />
      <xs:enumeration value="noDataValuesAvailable" />
      <xs:enumeration value="spuriousUnreliableDataValues" />
      <xs:enumeration value="unspecifiedOrUnknownFault" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MetresAsFloat">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:simpleType name="MetresAsNonNegativeInteger">
    <xs:restriction base="D2LogicalModel:NonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="MultilingualString">
    <xs:sequence>
      <xs:element name="values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="D2LogicalModel:MultilingualStringValue" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultilingualStringValue">
    <xs:simpleContent>
      <xs:extension base="D2LogicalModel:MultilingualStringValueType">
        <xs:attribute name="lang" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MultilingualStringValueType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NetworkLocation" abstract="true">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Location">
        <xs:sequence>
          <xs:element name="supplementaryPositionalDescription" type="D2LogicalModel:SupplementaryPositionalDescription" minOccurs="0" />
          <xs:element name="networkLocationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NonNegativeInteger">
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="OpenlrBaseLocationReferencePoint" abstract="true">
    <xs:sequence>
      <xs:element name="openlrCoordinate" type="D2LogicalModel:PointCoordinates" />
      <xs:element name="openlrLineAttributes" type="D2LogicalModel:OpenlrLineAttributes" />
      <xs:element name="openlrBaseLocationReferencePointExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OpenlrFormOfWayEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="undefined" />
      <xs:enumeration value="motorway" />
      <xs:enumeration value="multipleCarriageway" />
      <xs:enumeration value="singleCarriageway" />
      <xs:enumeration value="roundabout" />
      <xs:enumeration value="slipRoad" />
      <xs:enumeration value="trafficSquare" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="OpenlrFunctionalRoadClassEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FRC0" />
      <xs:enumeration value="FRC1" />
      <xs:enumeration value="FRC2" />
      <xs:enumeration value="FRC3" />
      <xs:enumeration value="FRC4" />
      <xs:enumeration value="FRC5" />
      <xs:enumeration value="FRC6" />
      <xs:enumeration value="FRC7" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OpenlrLastLocationReferencePoint">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:OpenlrBaseLocationReferencePoint">
        <xs:sequence>
          <xs:element name="openlrLastLocationReferencePointExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OpenlrLineAttributes">
    <xs:sequence>
      <xs:element name="openlrFunctionalRoadClass" type="D2LogicalModel:OpenlrFunctionalRoadClassEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="openlrFormOfWay" type="D2LogicalModel:OpenlrFormOfWayEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="openlrBearing" type="D2LogicalModel:AngleInDegrees" minOccurs="1" maxOccurs="1" />
      <xs:element name="openlrLineAttributesExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayloadPublication" abstract="true">
    <xs:sequence>
      <xs:element name="feedDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="feedType" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="publicationTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="publicationCreator" type="D2LogicalModel:InternationalIdentifier" />
      <xs:element name="payloadPublicationExtension" type="D2LogicalModel:_PayloadPublicationExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="lang" type="D2LogicalModel:Language" use="required" />
  </xs:complexType>
  <xs:complexType name="PayloadPublicationExtended">
    <xs:sequence>
      <xs:element name="supplierUpdateMethod" type="D2LogicalModel:SupplierUpdateMethod" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhysicalMountingEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="centralReservationMounted" />
      <xs:enumeration value="gantryMounted" />
      <xs:enumeration value="overheadBridgeMounted" />
      <xs:enumeration value="roadsideCantileverMounted" />
      <xs:enumeration value="roadsideMounted" />
      <xs:enumeration value="trailerMounted" />
      <xs:enumeration value="tunnelEntranceMounted" />
      <xs:enumeration value="vehicleMounted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PictogramDisplayAreaSettings">
    <xs:sequence>
      <xs:element name="pictogramDisplayAreaSettingsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Point">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:NetworkLocation">
        <xs:sequence>
          <xs:element name="pointAlongLinearElement" type="D2LogicalModel:PointAlongLinearElement" minOccurs="0" />
          <xs:element name="pointByCoordinates" type="D2LogicalModel:PointByCoordinates" minOccurs="0" />
          <xs:element name="pointExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PointAlongLinearElement">
    <xs:sequence>
      <xs:element name="directionBoundAtPoint" type="D2LogicalModel:DirectionEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="directionRelativeAtPoint" type="D2LogicalModel:LinearReferencingDirectionEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElement" type="D2LogicalModel:LinearElement" />
      <xs:element name="distanceAlongLinearElement" type="D2LogicalModel:DistanceAlongLinearElement" />
      <xs:element name="pointAlongLinearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointByCoordinates">
    <xs:sequence>
      <xs:element name="bearing" type="D2LogicalModel:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="pointCoordinates" type="D2LogicalModel:PointCoordinates" />
      <xs:element name="pointByCoordinatesExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointCoordinates">
    <xs:sequence>
      <xs:element name="latitude" type="D2LogicalModel:Float" minOccurs="1" maxOccurs="1" />
      <xs:element name="longitude" type="D2LogicalModel:Float" minOccurs="1" maxOccurs="1" />
      <xs:element name="pointCoordinatesExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Referent">
    <xs:sequence>
      <xs:element name="referentIdentifier" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="referentName" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="referentType" type="D2LogicalModel:ReferentTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="referentDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="pointCoordinates" type="D2LogicalModel:PointCoordinates" minOccurs="0" />
      <xs:element name="referentExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReferentTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boundary" />
      <xs:enumeration value="intersection" />
      <xs:enumeration value="referenceMarker" />
      <xs:enumeration value="landmark" />
      <xs:enumeration value="roadNode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryPositionalDescription">
    <xs:sequence>
      <xs:element name="affectedCarriagewayAndLanes" type="D2LogicalModel:AffectedCarriagewayAndLanes" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="supplementaryPositionalDescriptionExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupplierUpdateMethod">
    <xs:sequence>
      <xs:element name="updateType" type="D2LogicalModel:SupplierUpdateMethodTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="deltaId" type="D2LogicalModel:DeltaId" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SupplierUpdateMethodTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="singleElementUpdate" />
      <xs:enumeration value="snapshot" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Tonnes">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:simpleType name="UrgencyEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="extremelyUrgent" />
      <xs:enumeration value="urgent" />
      <xs:enumeration value="normalUrgency" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Url">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
  <xs:complexType name="UrlLink">
    <xs:sequence>
      <xs:element name="urlLinkAddress" type="D2LogicalModel:Url" minOccurs="1" maxOccurs="1" />
      <xs:element name="urlLinkDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="urlLinkType" type="D2LogicalModel:UrlLinkTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="urlLinkExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="UrlLinkTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="documentPdf" />
      <xs:enumeration value="html" />
      <xs:enumeration value="image" />
      <xs:enumeration value="rss" />
      <xs:enumeration value="videoStream" />
      <xs:enumeration value="voiceStream" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VersionedReference">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="Vms">
    <xs:sequence>
      <xs:element name="vmsWorking" type="D2LogicalModel:Boolean" minOccurs="1" maxOccurs="1" />
      <xs:element name="vmsMessage" type="D2LogicalModel:_VmsMessageIndexVmsMessage" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="pictogramDisplayAreaSettings" type="D2LogicalModel:_VmsPictogramDisplayAreaIndexPictogramDisplayAreaSettings" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsLocationOverride" type="D2LogicalModel:Location" minOccurs="0" />
      <xs:element name="vmsFault" type="D2LogicalModel:VmsFault" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VmsCategoryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="other" />
      <xs:enumeration value="vms" />
      <xs:enumeration value="vtp" />
      <xs:enumeration value="vds" />
      <xs:enumeration value="metalSign" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VmsDatexPictogramEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="accident" />
      <xs:enumeration value="advisorySpeed" />
      <xs:enumeration value="animalsOnRoad" />
      <xs:enumeration value="blankVoid" />
      <xs:enumeration value="bridgeClosed" />
      <xs:enumeration value="bridgeSwingInOperation" />
      <xs:enumeration value="carParkFull" />
      <xs:enumeration value="carParkSpacesAvailable" />
      <xs:enumeration value="carriagewayNarrows" />
      <xs:enumeration value="carriagewayNarrowsOnTheLeft" />
      <xs:enumeration value="carriagewayNarrowsOnTheRight" />
      <xs:enumeration value="carriagewayReducedToOneLane" />
      <xs:enumeration value="carriagewayReducedToTwoLanes" />
      <xs:enumeration value="carriagewayReducedToThreeLanes" />
      <xs:enumeration value="chainsOrSnowTyresRecommended" />
      <xs:enumeration value="compulsoryMinimumSpeed" />
      <xs:enumeration value="crossWind" />
      <xs:enumeration value="dangerOfFire" />
      <xs:enumeration value="drivingOfVehiclesLessThanXMetresApartProhibited" />
      <xs:enumeration value="endOfAdvisorySpeed" />
      <xs:enumeration value="endOfCompulsoryMinimumSpeed" />
      <xs:enumeration value="endOfProhibitionOfOvertaking" />
      <xs:enumeration value="endOfProhibitionOfOvertakingForGoodsVehicles" />
      <xs:enumeration value="endOfSpeedLimit" />
      <xs:enumeration value="exitClosed" />
      <xs:enumeration value="fallingRocks" />
      <xs:enumeration value="fastenChildrensSeatBelts" />
      <xs:enumeration value="fastenYourSeatBelt" />
      <xs:enumeration value="fire" />
      <xs:enumeration value="floodingOrFlashFloods" />
      <xs:enumeration value="fog" />
      <xs:enumeration value="footballMatch" />
      <xs:enumeration value="hardShoulderNotRunning" />
      <xs:enumeration value="hardShoulderRunning" />
      <xs:enumeration value="keepASafeDistance" />
      <xs:enumeration value="keepLeft" />
      <xs:enumeration value="keepRight" />
      <xs:enumeration value="lane1ClosedOf2" />
      <xs:enumeration value="lane2ClosedOf2" />
      <xs:enumeration value="lane1ClosedOf3" />
      <xs:enumeration value="lane3ClosedOf3" />
      <xs:enumeration value="lanes1And2ClosedOf3" />
      <xs:enumeration value="lanes2And3ClosedOf3" />
      <xs:enumeration value="lane1ClosedOf4" />
      <xs:enumeration value="lane4ClosedOf4" />
      <xs:enumeration value="lanes1And2ClosedOf4" />
      <xs:enumeration value="lanes3And4ClosedOf4" />
      <xs:enumeration value="lanes1And2And3ClosedOf4" />
      <xs:enumeration value="lanes2And3And4ClosedOf4" />
      <xs:enumeration value="laneClosed" />
      <xs:enumeration value="laneDeviationToLeft" />
      <xs:enumeration value="laneDeviationToRight" />
      <xs:enumeration value="laneOpen" />
      <xs:enumeration value="leftHandLaneClosed" />
      <xs:enumeration value="lightSignals" />
      <xs:enumeration value="looseGravel" />
      <xs:enumeration value="maintenanceVehicleInAction" />
      <xs:enumeration value="maximumSpeedLimitedToTheFigureIndicated" />
      <xs:enumeration value="narrowLanesAead" />
      <xs:enumeration value="noEntry" />
      <xs:enumeration value="noEntryForAnyPowerDrivenVehicleDrawingATrailer" />
      <xs:enumeration value="noEntryForAnyPowerDrivenVehicleDrawingATrailerOtherThanASemiTrailerOrASingleAxleTrailer" />
      <xs:enumeration value="noEntryForGoodsVehicles" />
      <xs:enumeration value="noEntryForVehiclesExceedingXTonnesLadenMass" />
      <xs:enumeration value="noEntryForVehiclesHavingAMassExceedingXTonnesOnOneAxle" />
      <xs:enumeration value="noEntryForVehiclesHavingAnOverallHeightExceedingXMetres" />
      <xs:enumeration value="noEntryForVehiclesHavingAnOverallLengthExceedingXMetres" />
      <xs:enumeration value="noEntryForVehiclesHavingAnOverallWidthExceedingXMetres" />
      <xs:enumeration value="noEntryForVehiclesCarryingDangerousGoods" />
      <xs:enumeration value="otherDangers" />
      <xs:enumeration value="overtakingByGoodsVehiclesProhibited" />
      <xs:enumeration value="overtakingProhibited" />
      <xs:enumeration value="pollutionOrSmogAlert" />
      <xs:enumeration value="queue" />
      <xs:enumeration value="rain" />
      <xs:enumeration value="rightHandLaneClosed" />
      <xs:enumeration value="roadClosedAhead" />
      <xs:enumeration value="roadworks" />
      <xs:enumeration value="slipperyRoad" />
      <xs:enumeration value="smoke" />
      <xs:enumeration value="snow" />
      <xs:enumeration value="snowChainsCompulsory" />
      <xs:enumeration value="snowTyresCompulsory" />
      <xs:enumeration value="snowPloughInAction" />
      <xs:enumeration value="speedCamerasInAction" />
      <xs:enumeration value="trafficCongestion" />
      <xs:enumeration value="trafficDeviatedToOppositeCarriagewayAhead" />
      <xs:enumeration value="trafficPartiallyDeviatedToOppositeCarriagewayAhead" />
      <xs:enumeration value="tunnelClosed" />
      <xs:enumeration value="turnLeft" />
      <xs:enumeration value="turnRight" />
      <xs:enumeration value="twoWayTraffic" />
      <xs:enumeration value="unevenRoad" />
      <xs:enumeration value="vehicleFire" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VmsDatexSupplementalPictogramEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="distanceToTheBeginningofTheApplicationZone" />
      <xs:enumeration value="exceptAnyPowerDrivenVehicleDrawingTrailer" />
      <xs:enumeration value="exceptBus" />
      <xs:enumeration value="exceptGoodsVehicles" />
      <xs:enumeration value="exceptSemiTrailer" />
      <xs:enumeration value="exceptVehiclesCarryingDangerousGoods" />
      <xs:enumeration value="inCaseOfIceOrSnow" />
      <xs:enumeration value="lengthOfTheApplicationZone" />
      <xs:enumeration value="restrictedToAnyPowerDrivenVehicleDrawingTrailer" />
      <xs:enumeration value="restricetdToBus" />
      <xs:enumeration value="restrictedToGoodsVehicles" />
      <xs:enumeration value="restrictedToSemiTrailer" />
      <xs:enumeration value="restrictedToVehiclesCarryingDangerousGoods" />
      <xs:enumeration value="maintenanceVehicles" />
      <xs:enumeration value="snowPloughs" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VmsFault">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Fault">
        <xs:sequence>
          <xs:element name="vmsFault" type="D2LogicalModel:VmsFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="vmsFaultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VmsFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="communicationsFailure" />
      <xs:enumeration value="incorrectMessageDisplayed" />
      <xs:enumeration value="incorrectPictogramDisplayed" />
      <xs:enumeration value="outOfService" />
      <xs:enumeration value="powerFailure" />
      <xs:enumeration value="unableToClearDown" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VmsMessage">
    <xs:sequence>
      <xs:element name="messageSetBy" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="setBySystem" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsMessageInformationType" type="D2LogicalModel:VmsMessageInformationTypeEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="timeLastSet" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="textPage" type="D2LogicalModel:_TextPage" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsPictogramDisplayArea" type="D2LogicalModel:_VmsMessagePictogramDisplayAreaIndexVmsPictogramDisplayArea" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsMessageExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VmsMessageInformationTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="campaignMessage" />
      <xs:enumeration value="dateTime" />
      <xs:enumeration value="futureInformation" />
      <xs:enumeration value="instructionOrMessage" />
      <xs:enumeration value="situationWarning" />
      <xs:enumeration value="temperature" />
      <xs:enumeration value="trafficManagement" />
      <xs:enumeration value="travelTime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VmsPictogram">
    <xs:sequence>
      <xs:element name="pictogramDescription" type="D2LogicalModel:VmsDatexPictogramEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="pictogramCode" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="pictogramUrl" type="D2LogicalModel:Url" minOccurs="0" maxOccurs="1" />
      <xs:element name="additionalPictogramDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="pictogramFlashing" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="presenceOfRedTriangle" type="D2LogicalModel:Boolean" minOccurs="1" maxOccurs="1" />
      <xs:element name="viennaConventionCompliant" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="distanceAttribute" type="D2LogicalModel:MetresAsNonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="heightAttribute" type="D2LogicalModel:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="lengthAttribute" type="D2LogicalModel:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="speedAttribute" type="D2LogicalModel:KilometresPerHour" minOccurs="0" maxOccurs="1" />
      <xs:element name="weightAttribute" type="D2LogicalModel:Tonnes" minOccurs="0" maxOccurs="1" />
      <xs:element name="weightPerAxleAttribute" type="D2LogicalModel:Tonnes" minOccurs="0" maxOccurs="1" />
      <xs:element name="widthAttribute" type="D2LogicalModel:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsSupplementaryPanel" type="D2LogicalModel:VmsSupplementaryPanel" minOccurs="0" />
      <xs:element name="vmsPictogramExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsPictogramDisplayArea">
    <xs:sequence>
      <xs:element name="vmsPictogram" type="D2LogicalModel:_VmsPictogramDisplayAreaPictogramSequencingIndexVmsPictogram" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsPictogramDisplayAreaExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsPictogramDisplayCharacteristics">
    <xs:sequence>
      <xs:element name="vmsPictogramDisplayCharacteristicsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsPublication">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="D2LogicalModel:HeaderInformation" />
          <xs:element name="vmsUnit" type="D2LogicalModel:VmsUnit" maxOccurs="unbounded" />
          <xs:element name="vmsPublicationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VmsRecord">
    <xs:sequence>
      <xs:element name="vmsDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsPhysicalMounting" type="D2LogicalModel:PhysicalMountingEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsType" type="D2LogicalModel:VmsTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="numberOfPictogramDisplayAreas" type="D2LogicalModel:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="dynamicallyConfigurableDisplayAreas" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsPictogramDisplayCharacteristics" type="D2LogicalModel:_VmsRecordPictogramDisplayAreaIndexVmsPictogramDisplayCharacteristics" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsLocation" type="D2LogicalModel:Location" minOccurs="0" />
      <xs:element name="backgroundImageUrl" type="D2LogicalModel:UrlLink" minOccurs="0" />
      <xs:element name="vmsRecordExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsSetting" abstract="true">
    <xs:sequence>
      <xs:element name="vmsSettingExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsSupplementaryPanel">
    <xs:sequence>
      <xs:element name="supplementaryMessageDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsSupplementaryPictogram" type="D2LogicalModel:VmsSupplementaryPictogram" minOccurs="0" />
      <xs:element name="vmsSupplementaryText" type="D2LogicalModel:VmsTextLine" minOccurs="0" />
      <xs:element name="vmsSupplementaryPanelExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsSupplementaryPictogram">
    <xs:sequence>
      <xs:element name="supplementaryPictogramDescription" type="D2LogicalModel:VmsDatexSupplementalPictogramEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="supplementaryPictogramCode" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="supplementaryPictogramUrl" type="D2LogicalModel:Url" minOccurs="0" maxOccurs="1" />
      <xs:element name="additionalSupplementaryPictogramDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="pictogramFlashing" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsSupplementaryPictogramExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsTablePublication">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="D2LogicalModel:HeaderInformation" />
          <xs:element name="vmsUnitTable" type="D2LogicalModel:VmsUnitTable" maxOccurs="unbounded" />
          <xs:element name="vmsTablePublicationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VmsText">
    <xs:sequence>
      <xs:element name="vmsTextLine" type="D2LogicalModel:_VmsTextLineIndexVmsTextLine" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsTextExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VmsTextLine">
    <xs:sequence>
      <xs:element name="vmsTextLine" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="vmsTextLineLanguage" type="D2LogicalModel:Language" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsTextLineHtml" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsTextLineExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VmsTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="colourGraphic" />
      <xs:enumeration value="continuousSign" />
      <xs:enumeration value="monochromeGraphic" />
      <xs:enumeration value="matrixSign" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VmsUnit">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:VmsSetting">
        <xs:sequence>
          <xs:element name="vmsUnitTableReference" type="D2LogicalModel:_VmsUnitTableVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="vmsUnitReference" type="D2LogicalModel:_VmsUnitRecordVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="vms" type="D2LogicalModel:_VmsUnitVmsIndexVms" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="vmsUnitFault" type="D2LogicalModel:VmsUnitFault" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="vmsUnitExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VmsUnitFault">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Fault">
        <xs:sequence>
          <xs:element name="vmsUnitFault" type="D2LogicalModel:VmsFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="vmsUnitFaultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VmsUnitRecord">
    <xs:sequence>
      <xs:element name="numberOfVms" type="D2LogicalModel:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsUnitIdentifier" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsRecord" type="D2LogicalModel:_VmsUnitRecordVmsIndexVmsRecord" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vmsUnitRecordExtension" type="D2LogicalModel:_VmsUnitRecordExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="VmsUnitTable">
    <xs:sequence>
      <xs:element name="vmsUnitTableIdentification" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="vmsUnitRecord" type="D2LogicalModel:VmsUnitRecord" maxOccurs="unbounded" />
      <xs:element name="vmsUnitTableExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
</xs:schema>