Version 2/ECo-AT - DATEX II profile for CAM aggregation use case/schema/DATEXII-Profile_CAM_Aggregation_ECo-AT_0.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:D2LogicalModel="http://datex2.eu/schema/2/2_0" version="2.3" targetNamespace="http://datex2.eu/schema/2/2_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="_ExtensionType">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_Intermediate">
    <xs:sequence>
      <xs:element name="pointCoordinates" type="D2LogicalModel:PointCoordinates" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_IntermediatePointOnLinearElement">
    <xs:sequence>
      <xs:element name="referent" type="D2LogicalModel:Referent" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_LinearExtensionType">
    <xs:sequence>
      <xs:element name="extendedLinear" type="D2LogicalModel:ExtendedLinear" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteRecordExtensionType">
    <xs:sequence>
      <xs:element name="measurementSiteRecordExtended" type="D2LogicalModel:MeasurementSiteRecordExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteRecordIndexMeasurementSpecificCharacteristics">
    <xs:sequence>
      <xs:element name="measurementSpecificCharacteristics" type="D2LogicalModel:MeasurementSpecificCharacteristics" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteRecordVersionedReference">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:VersionedReference">
        <xs:attribute name="targetClass" use="required" fixed="MeasurementSiteRecord" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeasurementSiteTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:VersionedReference">
        <xs:attribute name="targetClass" use="required" fixed="MeasurementSiteTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_PeriodExtensionType">
    <xs:sequence>
      <xs:element name="periodExtended" type="D2LogicalModel:PeriodExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_PointCoordinatesExtensionType">
    <xs:sequence>
      <xs:element name="pointCoordinatesExtended" type="D2LogicalModel:PointCoordinatesExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_PointExtensionType">
    <xs:sequence>
      <xs:element name="camGeoAreaExtension" type="D2LogicalModel:CamGeoAreaExtension" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_PredefinedNonOrderedLocationGroupVersionedReference">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:VersionedReference">
        <xs:attribute name="targetClass" use="required" fixed="PredefinedNonOrderedLocationGroup" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_SiteMeasurementsIndexMeasuredValue">
    <xs:sequence>
      <xs:element name="measuredValue" type="D2LogicalModel:MeasuredValue" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_TrafficSpeedExtensionType">
    <xs:sequence>
      <xs:element name="trafficSpeedExtended" type="D2LogicalModel:TrafficSpeedExtended" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="_VehicleCharacteristicsExtensionType">
    <xs:sequence>
      <xs:element name="vehicleCharacteristicsExtended" type="D2LogicalModel:VehicleCharacteristicsExtended" minOccurs="0" />
      <xs:element name="vehicleCharacteristicExtended4CAM" type="D2LogicalModel:VehicleCharacteristicExtended4CAM" minOccurs="0" />
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AffectedCarriagewayAndLanes">
    <xs:sequence>
      <xs:element name="carriageway" type="D2LogicalModel:CarriagewayEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="lane" type="D2LogicalModel:LaneEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="footpath" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="lengthAffected" type="D2LogicalModel:MetresAsFloat" minOccurs="0" maxOccurs="1" />
      <xs:element name="affectedCarriagewayAndLanesExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Area">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Location">
        <xs:sequence>
          <xs:element name="areaExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AreaDestination">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Destination">
        <xs:sequence>
          <xs:element name="area" type="D2LogicalModel:Area" />
          <xs:element name="areaDestinationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AreaOfInterestEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="continentWide" />
      <xs:enumeration value="national" />
      <xs:enumeration value="neighbouringCountries" />
      <xs:enumeration value="notSpecified" />
      <xs:enumeration value="regional" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BasicData" abstract="true">
    <xs:sequence>
      <xs:element name="measurementOrCalculationPeriod" type="D2LogicalModel:Seconds" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementOrCalculationTime" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="pertinentLocation" type="D2LogicalModel:GroupOfLocations" minOccurs="0" />
      <xs:element name="basicDataExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="measurementOrCalculatedTimePrecision" type="D2LogicalModel:TimePrecisionEnum" use="optional" />
  </xs:complexType>
  <xs:simpleType name="Boolean">
    <xs:restriction base="xs:boolean" />
  </xs:simpleType>
  <xs:complexType name="CamGeoAreaExtension">
    <xs:sequence>
      <xs:element name="geoArea" type="D2LogicalModel:GeoArea" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CAMSpeedCharacteristics">
    <xs:sequence>
      <xs:element name="averageSpeedTime" type="D2LogicalModel:SpeedValue" />
      <xs:element name="maxSpeed" type="D2LogicalModel:SpeedValue" />
      <xs:element name="averageSpeedSpace" type="D2LogicalModel:SpeedValue" />
      <xs:element name="minSpeed" type="D2LogicalModel:SpeedValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CarriagewayEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="connectingCarriageway" />
      <xs:enumeration value="entrySlipRoad" />
      <xs:enumeration value="exitSlipRoad" />
      <xs:enumeration value="flyover" />
      <xs:enumeration value="leftHandFeederRoad" />
      <xs:enumeration value="leftHandParallelCarriageway" />
      <xs:enumeration value="mainCarriageway" />
      <xs:enumeration value="oppositeCarriageway" />
      <xs:enumeration value="parallelCarriageway" />
      <xs:enumeration value="rightHandFeederRoad" />
      <xs:enumeration value="rightHandParallelCarriageway" />
      <xs:enumeration value="roundabout" />
      <xs:enumeration value="serviceRoad" />
      <xs:enumeration value="slipRoads" />
      <xs:enumeration value="underpass" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CatalogueReference">
    <xs:sequence>
      <xs:element name="keyCatalogueReference" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="catalogueReferenceExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChangedFlagEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="catalogue" />
      <xs:enumeration value="filter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComparisonOperatorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="equalTo" />
      <xs:enumeration value="greaterThan" />
      <xs:enumeration value="greaterThanOrEqualTo" />
      <xs:enumeration value="lessThan" />
      <xs:enumeration value="lessThanOrEqualTo" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComputationMethodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="arithmeticAverageOfSamplesBasedOnAFixedNumberOfSamples" />
      <xs:enumeration value="arithmeticAverageOfSamplesInATimePeriod" />
      <xs:enumeration value="harmonicAverageOfSamplesInATimePeriod" />
      <xs:enumeration value="medianOfSamplesInATimePeriod" />
      <xs:enumeration value="movingAverageOfSamples" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConcentrationOfVehiclesValue">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DataValue">
        <xs:sequence>
          <xs:element name="concentrationOfVehicles" type="D2LogicalModel:ConcentrationVehiclesPerKilometre" minOccurs="1" maxOccurs="1" />
          <xs:element name="concentrationOfVehiclesValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ConcentrationVehiclesPerKilometre">
    <xs:restriction base="D2LogicalModel:NonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="ConfidentialityValueEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="internalUse" />
      <xs:enumeration value="noRestriction" />
      <xs:enumeration value="restrictedToAuthorities" />
      <xs:enumeration value="restrictedToAuthoritiesAndTrafficOperators" />
      <xs:enumeration value="restrictedToAuthoritiesTrafficOperatorsAndPublishers" />
      <xs:enumeration value="restrictedToAuthoritiesTrafficOperatorsAndVms" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CountryEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="at" />
      <xs:enumeration value="be" />
      <xs:enumeration value="bg" />
      <xs:enumeration value="ch" />
      <xs:enumeration value="cs" />
      <xs:enumeration value="cy" />
      <xs:enumeration value="cz" />
      <xs:enumeration value="de" />
      <xs:enumeration value="dk" />
      <xs:enumeration value="ee" />
      <xs:enumeration value="es" />
      <xs:enumeration value="fi" />
      <xs:enumeration value="fo" />
      <xs:enumeration value="fr" />
      <xs:enumeration value="gb" />
      <xs:enumeration value="gg" />
      <xs:enumeration value="gi" />
      <xs:enumeration value="gr" />
      <xs:enumeration value="hr" />
      <xs:enumeration value="hu" />
      <xs:enumeration value="ie" />
      <xs:enumeration value="im" />
      <xs:enumeration value="is" />
      <xs:enumeration value="it" />
      <xs:enumeration value="je" />
      <xs:enumeration value="li" />
      <xs:enumeration value="lt" />
      <xs:enumeration value="lu" />
      <xs:enumeration value="lv" />
      <xs:enumeration value="ma" />
      <xs:enumeration value="mc" />
      <xs:enumeration value="mk" />
      <xs:enumeration value="mt" />
      <xs:enumeration value="nl" />
      <xs:enumeration value="no" />
      <xs:enumeration value="pl" />
      <xs:enumeration value="pt" />
      <xs:enumeration value="ro" />
      <xs:enumeration value="se" />
      <xs:enumeration value="si" />
      <xs:enumeration value="sk" />
      <xs:enumeration value="sm" />
      <xs:enumeration value="tr" />
      <xs:enumeration value="va" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="d2LogicalModel" type="D2LogicalModel:D2LogicalModel">
    <xs:unique name="_d2LogicalModelMeasurementSiteRecordConstraint">
      <xs:selector xpath=".//D2LogicalModel:measurementSiteRecord" />
      <xs:field xpath="@id" />
      <xs:field xpath="@version" />
    </xs:unique>
    <xs:unique name="_d2LogicalModelMeasurementSiteTableConstraint">
      <xs:selector xpath=".//D2LogicalModel:measurementSiteTable" />
      <xs:field xpath="@id" />
      <xs:field xpath="@version" />
    </xs:unique>
  </xs:element>
  <xs:complexType name="D2LogicalModel">
    <xs:sequence>
      <xs:element name="exchange" type="D2LogicalModel:Exchange" />
      <xs:element name="payloadPublication" type="D2LogicalModel:PayloadPublication" minOccurs="0" />
      <xs:element name="d2LogicalModelExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="modelBaseVersion" use="required" fixed="2" />
    <xs:attribute name="extensionName" use="optional" default="EcoAT Extensions for CAM " />
    <xs:attribute name="extensionVersion" use="optional" default="0.9" />
  </xs:complexType>
  <xs:complexType name="DataValue" abstract="true">
    <xs:sequence>
      <xs:element name="dataError" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="reasonForDataError" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="dataValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="accuracy" type="D2LogicalModel:Percentage" use="optional" />
    <xs:attribute name="computationalMethod" type="D2LogicalModel:ComputationMethodEnum" use="optional" />
    <xs:attribute name="numberOfIncompleteInputs" type="D2LogicalModel:NonNegativeInteger" use="optional" />
    <xs:attribute name="numberOfInputValuesUsed" type="D2LogicalModel:NonNegativeInteger" use="optional" />
    <xs:attribute name="smoothingFactor" type="D2LogicalModel:Float" use="optional" />
    <xs:attribute name="standardDeviation" type="D2LogicalModel:Float" use="optional" />
    <xs:attribute name="supplierCalculatedDataQuality" type="D2LogicalModel:Percentage" use="optional" />
  </xs:complexType>
  <xs:simpleType name="DateTime">
    <xs:restriction base="xs:dateTime" />
  </xs:simpleType>
  <xs:complexType name="DateTimeValue">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DataValue">
        <xs:sequence>
          <xs:element name="dateTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
          <xs:element name="dateTimeValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DayEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="monday" />
      <xs:enumeration value="tuesday" />
      <xs:enumeration value="wednesday" />
      <xs:enumeration value="thursday" />
      <xs:enumeration value="friday" />
      <xs:enumeration value="saturday" />
      <xs:enumeration value="sunday" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DayWeekMonth">
    <xs:sequence>
      <xs:element name="applicableDay" type="D2LogicalModel:DayEnum" minOccurs="0" maxOccurs="7" />
      <xs:element name="applicableWeek" type="D2LogicalModel:WeekOfMonthEnum" minOccurs="0" maxOccurs="5" />
      <xs:element name="applicableMonth" type="D2LogicalModel:MonthOfYearEnum" minOccurs="0" maxOccurs="12" />
      <xs:element name="dayWeekMonthExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DenyReasonEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknownReason" />
      <xs:enumeration value="wrongCatalogue" />
      <xs:enumeration value="wrongFilter" />
      <xs:enumeration value="wrongOrder" />
      <xs:enumeration value="wrongPartner" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Destination" abstract="true">
    <xs:sequence>
      <xs:element name="destinationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DirectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allDirections" />
      <xs:enumeration value="bothWays" />
      <xs:enumeration value="clockwise" />
      <xs:enumeration value="anticlockwise" />
      <xs:enumeration value="innerRing" />
      <xs:enumeration value="outerRing" />
      <xs:enumeration value="northBound" />
      <xs:enumeration value="northEastBound" />
      <xs:enumeration value="eastBound" />
      <xs:enumeration value="southEastBound" />
      <xs:enumeration value="southBound" />
      <xs:enumeration value="southWestBound" />
      <xs:enumeration value="westBound" />
      <xs:enumeration value="northWestBound" />
      <xs:enumeration value="inboundTowardsTown" />
      <xs:enumeration value="outboundFromTown" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="opposite" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DistanceAlongLinearElement" abstract="true">
    <xs:sequence>
      <xs:element name="distanceAlongLinearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DistanceFromLinearElementReferent">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DistanceAlongLinearElement">
        <xs:sequence>
          <xs:element name="distanceAlong" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
          <xs:element name="fromReferent" type="D2LogicalModel:Referent" />
          <xs:element name="towardsReferent" type="D2LogicalModel:Referent" minOccurs="0" />
          <xs:element name="distanceFromLinearElementReferentExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DistanceFromLinearElementStart">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DistanceAlongLinearElement">
        <xs:sequence>
          <xs:element name="distanceAlong" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
          <xs:element name="distanceFromLinearElementStartExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DurationValue">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DataValue">
        <xs:sequence>
          <xs:element name="duration" type="D2LogicalModel:Seconds" minOccurs="1" maxOccurs="1" />
          <xs:element name="durationValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElaboratedData">
    <xs:sequence>
      <xs:element name="forecast" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="source" type="D2LogicalModel:Source" minOccurs="0" />
      <xs:element name="validity" type="D2LogicalModel:Validity" minOccurs="0" />
      <xs:element name="elaboratedDataFault" type="D2LogicalModel:ElaboratedDataFault" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="basicData" type="D2LogicalModel:BasicData" minOccurs="0" />
      <xs:element name="elaboratedDataExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ElaboratedDataFault">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Fault">
        <xs:sequence>
          <xs:element name="elaboratedDataFault" type="D2LogicalModel:ElaboratedDataFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="elaboratedDataFaultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ElaboratedDataFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="intermittentDataValues" />
      <xs:enumeration value="noDataValuesAvailable" />
      <xs:enumeration value="spuriousUnreliableDataValues" />
      <xs:enumeration value="unspecifiedOrUnknownFault" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ElaboratedDataPublication">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:PayloadPublication">
        <xs:sequence>
          <xs:element name="forecastDefault" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
          <xs:element name="periodDefault" type="D2LogicalModel:Seconds" minOccurs="0" maxOccurs="1" />
          <xs:element name="timeDefault" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
          <xs:element name="headerInformation" type="D2LogicalModel:HeaderInformation" />
          <xs:element name="referenceSettings" type="D2LogicalModel:ReferenceSettings" minOccurs="0" />
          <xs:element name="elaboratedData" type="D2LogicalModel:ElaboratedData" maxOccurs="unbounded" />
          <xs:element name="elaboratedDataPublicationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Exchange">
    <xs:sequence>
      <xs:element name="changedFlag" type="D2LogicalModel:ChangedFlagEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="clientIdentification" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="deliveryBreak" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="denyReason" type="D2LogicalModel:DenyReasonEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="historicalStartDate" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="historicalStopDate" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="keepAlive" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="requestType" type="D2LogicalModel:RequestTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="response" type="D2LogicalModel:ResponseEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="subscriptionReference" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="supplierIdentification" type="D2LogicalModel:InternationalIdentifier" />
      <xs:element name="target" type="D2LogicalModel:Target" minOccurs="0" />
      <xs:element name="subscription" type="D2LogicalModel:Subscription" minOccurs="0" />
      <xs:element name="filterReference" type="D2LogicalModel:FilterReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="catalogueReference" type="D2LogicalModel:CatalogueReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="exchangeExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedLinear">
    <xs:sequence>
      <xs:element name="linearByCoordinates" type="D2LogicalModel:LinearByCoordinates" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Fault">
    <xs:sequence>
      <xs:element name="faultIdentifier" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultDescription" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultCreationTime" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultLastUpdateTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="faultSeverity" type="D2LogicalModel:FaultSeverityEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="faultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="FaultSeverityEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="low" />
      <xs:enumeration value="medium" />
      <xs:enumeration value="high" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FilterReference">
    <xs:sequence>
      <xs:element name="deleteFilter" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="filterOperationApproved" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="keyFilterReference" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="filterReferenceExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Float">
    <xs:restriction base="xs:float" />
  </xs:simpleType>
  <xs:complexType name="FloatingPointMetreDistanceValue">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DataValue">
        <xs:sequence>
          <xs:element name="floatingPointMetreDistance" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
          <xs:element name="floatingPointMetreDistanceValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="FuelType2Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="all" />
      <xs:enumeration value="petrol95Octane" />
      <xs:enumeration value="petrol98Octane" />
      <xs:enumeration value="petrolLeaded" />
      <xs:enumeration value="petrolUnleaded" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FuelTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="battery" />
      <xs:enumeration value="biodiesel" />
      <xs:enumeration value="diesel" />
      <xs:enumeration value="dieselBatteryHybrid" />
      <xs:enumeration value="ethanol" />
      <xs:enumeration value="hydrogen" />
      <xs:enumeration value="liquidGas" />
      <xs:enumeration value="lpg" />
      <xs:enumeration value="methane" />
      <xs:enumeration value="petrol" />
      <xs:enumeration value="petrolBatteryHybrid" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeoArea">
    <xs:sequence>
      <xs:element name="shape" type="D2LogicalModel:GeoAreaTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="distA" type="D2LogicalModel:MetresAsNonNegativeInteger" minOccurs="1" maxOccurs="1" />
      <xs:element name="distB" type="D2LogicalModel:MetresAsNonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="toleranceAngle" type="D2LogicalModel:NonNegativeInteger" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="GeoAreaTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rectangular" />
      <xs:enumeration value="circular" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GrossWeightCharacteristic">
    <xs:sequence>
      <xs:element name="comparisonOperator" type="D2LogicalModel:ComparisonOperatorEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="grossVehicleWeight" type="D2LogicalModel:Tonnes" minOccurs="1" maxOccurs="1" />
      <xs:element name="grossWeightCharacteristicExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupOfLocations" abstract="true">
    <xs:sequence>
      <xs:element name="groupOfLocationsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaderInformation">
    <xs:sequence>
      <xs:element name="areaOfInterest" type="D2LogicalModel:AreaOfInterestEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="confidentiality" type="D2LogicalModel:ConfidentialityValueEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="informationStatus" type="D2LogicalModel:InformationStatusEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="urgency" type="D2LogicalModel:UrgencyEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="headerInformationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeaviestAxleWeightCharacteristic">
    <xs:sequence>
      <xs:element name="comparisonOperator" type="D2LogicalModel:ComparisonOperatorEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="heaviestAxleWeight" type="D2LogicalModel:Tonnes" minOccurs="1" maxOccurs="1" />
      <xs:element name="heaviestAxleWeightCharacteristicExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="HeightCharacteristic">
    <xs:sequence>
      <xs:element name="comparisonOperator" type="D2LogicalModel:ComparisonOperatorEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="vehicleHeight" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
      <xs:element name="heightCharacteristicExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="HeightGradeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="aboveGrade" />
      <xs:enumeration value="atGrade" />
      <xs:enumeration value="belowGrade" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="IndividualVehicleDataValues">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:TrafficData">
        <xs:sequence>
          <xs:element name="individualVehicleSpeed" type="D2LogicalModel:SpeedValue" minOccurs="0" />
          <xs:element name="arrivalTime" type="D2LogicalModel:DateTimeValue" minOccurs="0" />
          <xs:element name="exitTime" type="D2LogicalModel:DateTimeValue" minOccurs="0" />
          <xs:element name="passageDurationTime" type="D2LogicalModel:DurationValue" minOccurs="0" />
          <xs:element name="presenceDurationTime" type="D2LogicalModel:DurationValue" minOccurs="0" />
          <xs:element name="timeGap" type="D2LogicalModel:DurationValue" minOccurs="0" />
          <xs:element name="timeHeadway" type="D2LogicalModel:DurationValue" minOccurs="0" />
          <xs:element name="distanceGap" type="D2LogicalModel:FloatingPointMetreDistanceValue" minOccurs="0" />
          <xs:element name="distanceHeadway" type="D2LogicalModel:FloatingPointMetreDistanceValue" minOccurs="0" />
          <xs:element name="individualVehicleDataValuesExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="InformationStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="real" />
      <xs:enumeration value="securityExercise" />
      <xs:enumeration value="technicalExercise" />
      <xs:enumeration value="test" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InternationalIdentifier">
    <xs:sequence>
      <xs:element name="country" type="D2LogicalModel:CountryEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="nationalIdentifier" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="internationalIdentifierExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="KilometresPerHour">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:simpleType name="LaneEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allLanesCompleteCarriageway" />
      <xs:enumeration value="busLane" />
      <xs:enumeration value="busStop" />
      <xs:enumeration value="carPoolLane" />
      <xs:enumeration value="centralReservation" />
      <xs:enumeration value="crawlerLane" />
      <xs:enumeration value="emergencyLane" />
      <xs:enumeration value="escapeLane" />
      <xs:enumeration value="expressLane" />
      <xs:enumeration value="hardShoulder" />
      <xs:enumeration value="heavyVehicleLane" />
      <xs:enumeration value="lane1" />
      <xs:enumeration value="lane2" />
      <xs:enumeration value="lane3" />
      <xs:enumeration value="lane4" />
      <xs:enumeration value="lane5" />
      <xs:enumeration value="lane6" />
      <xs:enumeration value="lane7" />
      <xs:enumeration value="lane8" />
      <xs:enumeration value="lane9" />
      <xs:enumeration value="layBy" />
      <xs:enumeration value="leftHandTurningLane" />
      <xs:enumeration value="leftLane" />
      <xs:enumeration value="localTrafficLane" />
      <xs:enumeration value="middleLane" />
      <xs:enumeration value="opposingLanes" />
      <xs:enumeration value="overtakingLane" />
      <xs:enumeration value="rightHandTurningLane" />
      <xs:enumeration value="rightLane" />
      <xs:enumeration value="rushHourLane" />
      <xs:enumeration value="setDownArea" />
      <xs:enumeration value="slowVehicleLane" />
      <xs:enumeration value="throughTrafficLane" />
      <xs:enumeration value="tidalFlowLane" />
      <xs:enumeration value="turningLane" />
      <xs:enumeration value="verge" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Language">
    <xs:restriction base="xs:language" />
  </xs:simpleType>
  <xs:complexType name="LengthCharacteristic">
    <xs:sequence>
      <xs:element name="comparisonOperator" type="D2LogicalModel:ComparisonOperatorEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="vehicleLength" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
      <xs:element name="lengthCharacteristicExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Linear">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:NetworkLocation">
        <xs:sequence>
          <xs:element name="linearExtension" type="D2LogicalModel:_LinearExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LinearByCoordinates">
    <xs:sequence>
      <xs:element name="directed" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="roadName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="roadNumber" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="start" type="D2LogicalModel:PointCoordinates" />
      <xs:element name="intermediate" type="D2LogicalModel:_Intermediate" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="end" type="D2LogicalModel:PointCoordinates" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinearElement">
    <xs:sequence>
      <xs:element name="roadName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="roadNumber" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElementReferenceModel" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElementReferenceModelVersion" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElementNature" type="D2LogicalModel:LinearElementNatureEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LinearElementByCode">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:LinearElement">
        <xs:sequence>
          <xs:element name="linearElementIdentifier" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
          <xs:element name="linearElementByCodeExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LinearElementByPoints">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:LinearElement">
        <xs:sequence>
          <xs:element name="startPointOfLinearElement" type="D2LogicalModel:Referent" />
          <xs:element name="intermediatePointOnLinearElement" type="D2LogicalModel:_IntermediatePointOnLinearElement" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="endPointOfLinearElement" type="D2LogicalModel:Referent" />
          <xs:element name="linearElementByPointsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="LinearElementNatureEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="road" />
      <xs:enumeration value="roadSection" />
      <xs:enumeration value="slipRoad" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LinearReferencingDirectionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="both" />
      <xs:enumeration value="opposite" />
      <xs:enumeration value="aligned" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LoadType2Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="refrigeratedGoods" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LoadTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="abnormalLoad" />
      <xs:enumeration value="ammunition" />
      <xs:enumeration value="chemicals" />
      <xs:enumeration value="combustibleMaterials" />
      <xs:enumeration value="corrosiveMaterials" />
      <xs:enumeration value="debris" />
      <xs:enumeration value="empty" />
      <xs:enumeration value="explosiveMaterials" />
      <xs:enumeration value="extraHighLoad" />
      <xs:enumeration value="extraLongLoad" />
      <xs:enumeration value="extraWideLoad" />
      <xs:enumeration value="fuel" />
      <xs:enumeration value="glass" />
      <xs:enumeration value="goods" />
      <xs:enumeration value="hazardousMaterials" />
      <xs:enumeration value="liquid" />
      <xs:enumeration value="livestock" />
      <xs:enumeration value="materials" />
      <xs:enumeration value="materialsDangerousForPeople" />
      <xs:enumeration value="materialsDangerousForTheEnvironment" />
      <xs:enumeration value="materialsDangerousForWater" />
      <xs:enumeration value="oil" />
      <xs:enumeration value="ordinary" />
      <xs:enumeration value="perishableProducts" />
      <xs:enumeration value="petrol" />
      <xs:enumeration value="pharmaceuticalMaterials" />
      <xs:enumeration value="radioactiveMaterials" />
      <xs:enumeration value="refuse" />
      <xs:enumeration value="toxicMaterials" />
      <xs:enumeration value="vehicles" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Location" abstract="true">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:GroupOfLocations">
        <xs:sequence>
          <xs:element name="locationForDisplay" type="D2LogicalModel:PointCoordinates" minOccurs="0" />
          <xs:element name="locationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LocationCharacteristicsOverride">
    <xs:sequence>
      <xs:element name="measurementLanesOverride" type="D2LogicalModel:LaneEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="reversedFlow" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="locationCharacteristicsOverrideExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LocationDescriptorEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="aroundABendInRoad" />
      <xs:enumeration value="atMotorwayInterchange" />
      <xs:enumeration value="atRestArea" />
      <xs:enumeration value="atServiceArea" />
      <xs:enumeration value="atTollPlaza" />
      <xs:enumeration value="atTunnelEntryOrExit" />
      <xs:enumeration value="inbound" />
      <xs:enumeration value="inGallery" />
      <xs:enumeration value="inTheCentre" />
      <xs:enumeration value="inTheOppositeDirection" />
      <xs:enumeration value="inTunnel" />
      <xs:enumeration value="onBorder" />
      <xs:enumeration value="onBridge" />
      <xs:enumeration value="onConnector" />
      <xs:enumeration value="onElevatedSection" />
      <xs:enumeration value="onFlyover" />
      <xs:enumeration value="onIceRoad" />
      <xs:enumeration value="onLevelCrossing" />
      <xs:enumeration value="onLinkRoad" />
      <xs:enumeration value="onPass" />
      <xs:enumeration value="onRoundabout" />
      <xs:enumeration value="onTheLeft" />
      <xs:enumeration value="onTheRight" />
      <xs:enumeration value="onTheRoadway" />
      <xs:enumeration value="onUndergroundSection" />
      <xs:enumeration value="onUnderpass" />
      <xs:enumeration value="outbound" />
      <xs:enumeration value="overCrestOfHill" />
      <xs:enumeration value="withinJunction" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasuredDataPublication">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:PayloadPublication">
        <xs:sequence>
          <xs:element name="measurementSiteTableReference" type="D2LogicalModel:_MeasurementSiteTableVersionedReference" minOccurs="1" maxOccurs="1" />
          <xs:element name="headerInformation" type="D2LogicalModel:HeaderInformation" />
          <xs:element name="siteMeasurements" type="D2LogicalModel:SiteMeasurements" maxOccurs="unbounded" />
          <xs:element name="measuredDataPublicationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeasuredOrDerivedDataTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="humidityInformation" />
      <xs:enumeration value="individualVehicleMeasurements" />
      <xs:enumeration value="pollutionInformation" />
      <xs:enumeration value="precipitationInformation" />
      <xs:enumeration value="pressureInformation" />
      <xs:enumeration value="radiationInformation" />
      <xs:enumeration value="roadSurfaceConditionInformation" />
      <xs:enumeration value="temperatureInformation" />
      <xs:enumeration value="trafficConcentration" />
      <xs:enumeration value="trafficFlow" />
      <xs:enumeration value="trafficHeadway" />
      <xs:enumeration value="trafficSpeed" />
      <xs:enumeration value="trafficStatusInformation" />
      <xs:enumeration value="travelTimeInformation" />
      <xs:enumeration value="visibilityInformation" />
      <xs:enumeration value="windInformation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasuredValue">
    <xs:sequence>
      <xs:element name="measurementEquipmentTypeUsed" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="locationCharacteristicsOverride" type="D2LogicalModel:LocationCharacteristicsOverride" minOccurs="0" />
      <xs:element name="measurementEquipmentFault" type="D2LogicalModel:MeasurementEquipmentFault" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="basicData" type="D2LogicalModel:BasicData" minOccurs="0" />
      <xs:element name="measuredValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementEquipmentFault">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Fault">
        <xs:sequence>
          <xs:element name="measurementEquipmentFault" type="D2LogicalModel:MeasurementEquipmentFaultEnum" minOccurs="1" maxOccurs="1" />
          <xs:element name="measurementEquipmentFaultExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="MeasurementEquipmentFaultEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="intermittentDataValues" />
      <xs:enumeration value="noDataValuesAvailable" />
      <xs:enumeration value="spuriousUnreliableDataValues" />
      <xs:enumeration value="unspecifiedOrUnknownFault" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MeasurementSiteRecord">
    <xs:sequence>
      <xs:element name="measurementSiteRecordVersionTime" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="computationMethod" type="D2LogicalModel:ComputationMethodEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementEquipmentReference" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementEquipmentTypeUsed" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementSiteName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementSiteNumberOfLanes" type="D2LogicalModel:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementSiteIdentification" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementSide" type="D2LogicalModel:DirectionEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementSpecificCharacteristics" type="D2LogicalModel:_MeasurementSiteRecordIndexMeasurementSpecificCharacteristics" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="measurementSiteLocation" type="D2LogicalModel:GroupOfLocations" />
      <xs:element name="measurementSiteRecordExtension" type="D2LogicalModel:_MeasurementSiteRecordExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="MeasurementSiteRecordExtended">
    <xs:sequence>
      <xs:element name="selfConfigured" type="D2LogicalModel:Boolean" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasurementSiteTable">
    <xs:sequence>
      <xs:element name="measurementSiteTableIdentification" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="measurementSiteRecord" type="D2LogicalModel:MeasurementSiteRecord" maxOccurs="unbounded" />
      <xs:element name="measurementSiteTableExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="MeasurementSiteTablePublication">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:PayloadPublication">
        <xs:sequence>
          <xs:element name="headerInformation" type="D2LogicalModel:HeaderInformation" />
          <xs:element name="measurementSiteTable" type="D2LogicalModel:MeasurementSiteTable" maxOccurs="unbounded" />
          <xs:element name="measurementSiteTablePublicationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementSpecificCharacteristics">
    <xs:sequence>
      <xs:element name="accuracy" type="D2LogicalModel:Percentage" minOccurs="0" maxOccurs="1" />
      <xs:element name="period" type="D2LogicalModel:Seconds" minOccurs="0" maxOccurs="1" />
      <xs:element name="smoothingFactor" type="D2LogicalModel:Float" minOccurs="0" maxOccurs="1" />
      <xs:element name="specificLane" type="D2LogicalModel:LaneEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="specificMeasurementValueType" type="D2LogicalModel:MeasuredOrDerivedDataTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="specificVehicleCharacteristics" type="D2LogicalModel:VehicleCharacteristics" minOccurs="0" />
      <xs:element name="measurementSpecificCharacteristicsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="MetresAsFloat">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:simpleType name="MetresAsNonNegativeInteger">
    <xs:restriction base="D2LogicalModel:NonNegativeInteger" />
  </xs:simpleType>
  <xs:simpleType name="MonthOfYearEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="january" />
      <xs:enumeration value="february" />
      <xs:enumeration value="march" />
      <xs:enumeration value="april" />
      <xs:enumeration value="may" />
      <xs:enumeration value="june" />
      <xs:enumeration value="july" />
      <xs:enumeration value="august" />
      <xs:enumeration value="september" />
      <xs:enumeration value="october" />
      <xs:enumeration value="november" />
      <xs:enumeration value="december" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MultilingualString">
    <xs:sequence>
      <xs:element name="values">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="D2LogicalModel:MultilingualStringValue" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MultilingualStringValue">
    <xs:simpleContent>
      <xs:extension base="D2LogicalModel:MultilingualStringValueType">
        <xs:attribute name="lang" type="xs:language" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="MultilingualStringValueType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="NetworkLocation" abstract="true">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Location">
        <xs:sequence>
          <xs:element name="supplementaryPositionalDescription" type="D2LogicalModel:SupplementaryPositionalDescription" minOccurs="0" />
          <xs:element name="destination" type="D2LogicalModel:Destination" minOccurs="0" />
          <xs:element name="networkLocationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NonNegativeInteger">
    <xs:restriction base="xs:nonNegativeInteger" />
  </xs:simpleType>
  <xs:complexType name="NumberOfAxlesCharacteristic">
    <xs:sequence>
      <xs:element name="comparisonOperator" type="D2LogicalModel:ComparisonOperatorEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="numberOfAxles" type="D2LogicalModel:NonNegativeInteger" minOccurs="1" maxOccurs="1" />
      <xs:element name="numberOfAxlesCharacteristicExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="OperatingModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="operatingMode0" />
      <xs:enumeration value="operatingMode1" />
      <xs:enumeration value="operatingMode2" />
      <xs:enumeration value="operatingMode3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OverallPeriod">
    <xs:sequence>
      <xs:element name="overallStartTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="overallEndTime" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="validPeriod" type="D2LogicalModel:Period" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="exceptionPeriod" type="D2LogicalModel:Period" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="overallPeriodExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayloadPublication" abstract="true">
    <xs:sequence>
      <xs:element name="feedDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="feedType" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="publicationTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="publicationCreator" type="D2LogicalModel:InternationalIdentifier" />
      <xs:element name="payloadPublicationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="lang" type="D2LogicalModel:Language" use="required" />
  </xs:complexType>
  <xs:simpleType name="Percentage">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:complexType name="PercentageDistanceAlongLinearElement">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DistanceAlongLinearElement">
        <xs:sequence>
          <xs:element name="percentageDistanceAlong" type="D2LogicalModel:Percentage" minOccurs="1" maxOccurs="1" />
          <xs:element name="percentageDistanceAlongLinearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PercentageValue">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DataValue">
        <xs:sequence>
          <xs:element name="percentage" type="D2LogicalModel:Percentage" minOccurs="1" maxOccurs="1" />
          <xs:element name="percentageValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Period">
    <xs:sequence>
      <xs:element name="startOfPeriod" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="endOfPeriod" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="periodName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="recurringTimePeriodOfDay" type="D2LogicalModel:TimePeriodOfDay" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="recurringDayWeekMonthPeriod" type="D2LogicalModel:DayWeekMonth" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="periodExtension" type="D2LogicalModel:_PeriodExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PeriodExtended">
    <xs:sequence>
      <xs:element name="recurringSpecialDay" type="D2LogicalModel:SpecialDay" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Point">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:NetworkLocation">
        <xs:sequence>
          <xs:element name="pointAlongLinearElement" type="D2LogicalModel:PointAlongLinearElement" minOccurs="0" />
          <xs:element name="pointByCoordinates" type="D2LogicalModel:PointByCoordinates" minOccurs="0" />
          <xs:element name="pointExtension" type="D2LogicalModel:_PointExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PointAlongLinearElement">
    <xs:sequence>
      <xs:element name="administrativeAreaOfPoint" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="directionBoundAtPoint" type="D2LogicalModel:DirectionEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="directionRelativeAtPoint" type="D2LogicalModel:LinearReferencingDirectionEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="heightGradeOfPoint" type="D2LogicalModel:HeightGradeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="linearElement" type="D2LogicalModel:LinearElement" />
      <xs:element name="distanceAlongLinearElement" type="D2LogicalModel:DistanceAlongLinearElement" />
      <xs:element name="pointAlongLinearElementExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointByCoordinates">
    <xs:sequence>
      <xs:element name="bearing" type="D2LogicalModel:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="pointCoordinates" type="D2LogicalModel:PointCoordinates" />
      <xs:element name="pointByCoordinatesExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointCoordinates">
    <xs:sequence>
      <xs:element name="latitude" type="D2LogicalModel:Float" minOccurs="1" maxOccurs="1" />
      <xs:element name="longitude" type="D2LogicalModel:Float" minOccurs="1" maxOccurs="1" />
      <xs:element name="pointCoordinatesExtension" type="D2LogicalModel:_PointCoordinatesExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointCoordinatesExtended">
    <xs:sequence>
      <xs:element name="altitude" type="D2LogicalModel:MetresAsFloat" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PointDestination">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:Destination">
        <xs:sequence>
          <xs:element name="point" type="D2LogicalModel:Point" />
          <xs:element name="pointDestinationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PublicHoliday">
    <xs:sequence>
      <xs:element name="country" type="D2LogicalModel:CountryEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="countrySubdivision" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="region" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="publicHolidayType" type="D2LogicalModel:PublicHolidayTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="publicHolidayName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="publicHolidayExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PublicHolidayTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="betweenChristmasAndNewYear" />
      <xs:enumeration value="boxingDay" />
      <xs:enumeration value="bridgeHoliday" />
      <xs:enumeration value="christmasEve" />
      <xs:enumeration value="christmasDayAndBoxingDay" />
      <xs:enumeration value="christmasHolidayPeriod" />
      <xs:enumeration value="dayFollowingPublicHoliday" />
      <xs:enumeration value="easterFridayHoliday" />
      <xs:enumeration value="easterHolidayPeriod" />
      <xs:enumeration value="easterMondayHoliday" />
      <xs:enumeration value="easterSaturday" />
      <xs:enumeration value="easterSunday" />
      <xs:enumeration value="eveOfPublicHoliday" />
      <xs:enumeration value="holidayPeriod" />
      <xs:enumeration value="inLieuOfPublicHoliday" />
      <xs:enumeration value="january2ndHoliday" />
      <xs:enumeration value="newYearsDay" />
      <xs:enumeration value="newYearsEve" />
      <xs:enumeration value="notPublicHoliday" />
      <xs:enumeration value="publicHoliday" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ReferenceSettings">
    <xs:sequence>
      <xs:element name="predefinedNonOrderedLocationGroupReference" type="D2LogicalModel:_PredefinedNonOrderedLocationGroupVersionedReference" minOccurs="0" maxOccurs="1" />
      <xs:element name="trafficStatusDefault" type="D2LogicalModel:TrafficStatusEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="referenceSettingsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Referent">
    <xs:sequence>
      <xs:element name="referentIdentifier" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="referentName" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="referentType" type="D2LogicalModel:ReferentTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="referentDescription" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="pointCoordinates" type="D2LogicalModel:PointCoordinates" minOccurs="0" />
      <xs:element name="referentExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ReferentTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="boundary" />
      <xs:enumeration value="intersection" />
      <xs:enumeration value="referenceMarker" />
      <xs:enumeration value="landmark" />
      <xs:enumeration value="roadNode" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="catalogue" />
      <xs:enumeration value="filter" />
      <xs:enumeration value="requestData" />
      <xs:enumeration value="requestHistoricalData" />
      <xs:enumeration value="subscription" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResponseEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="acknowledge" />
      <xs:enumeration value="catalogueRequestDenied" />
      <xs:enumeration value="filterRequestDenied" />
      <xs:enumeration value="requestDenied" />
      <xs:enumeration value="subscriptionRequestDenied" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Seconds">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:complexType name="SiteMeasurements">
    <xs:sequence>
      <xs:element name="measurementSiteReference" type="D2LogicalModel:_MeasurementSiteRecordVersionedReference" minOccurs="1" maxOccurs="1" />
      <xs:element name="measurementTimeDefault" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="measuredValue" type="D2LogicalModel:_SiteMeasurementsIndexMeasuredValue" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="siteMeasurementsExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Source">
    <xs:sequence>
      <xs:element name="sourceCountry" type="D2LogicalModel:CountryEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="sourceIdentification" type="D2LogicalModel:String" minOccurs="0" maxOccurs="1" />
      <xs:element name="sourceName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="sourceType" type="D2LogicalModel:SourceTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="reliable" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="sourceExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SourceTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="automobileClubPatrol" />
      <xs:enumeration value="cameraObservation" />
      <xs:enumeration value="freightVehicleOperator" />
      <xs:enumeration value="inductionLoopMonitoringStation" />
      <xs:enumeration value="infraredMonitoringStation" />
      <xs:enumeration value="microwaveMonitoringStation" />
      <xs:enumeration value="mobileTelephoneCaller" />
      <xs:enumeration value="nonPoliceEmergencyServicePatrol" />
      <xs:enumeration value="otherInformation" />
      <xs:enumeration value="otherOfficialVehicle" />
      <xs:enumeration value="policePatrol" />
      <xs:enumeration value="privateBreakdownService" />
      <xs:enumeration value="publicAndPrivateUtilities" />
      <xs:enumeration value="registeredMotoristObserver" />
      <xs:enumeration value="roadAuthorities" />
      <xs:enumeration value="roadOperatorPatrol" />
      <xs:enumeration value="roadsideTelephoneCaller" />
      <xs:enumeration value="spotterAircraft" />
      <xs:enumeration value="trafficMonitoringStation" />
      <xs:enumeration value="transitOperator" />
      <xs:enumeration value="vehicleProbeMeasurement" />
      <xs:enumeration value="videoProcessingMonitoringStation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SpecialDay">
    <xs:sequence>
      <xs:element name="intersectWithApplicableDays" type="D2LogicalModel:Boolean" minOccurs="1" maxOccurs="1" />
      <xs:element name="specialDayType" type="D2LogicalModel:SpecialDayTypeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="specialDayName" type="D2LogicalModel:MultilingualString" minOccurs="0" maxOccurs="1" />
      <xs:element name="publicHoliday" type="D2LogicalModel:PublicHoliday" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="specialDayExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SpecialDayTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bicycleRaceDay" />
      <xs:enumeration value="bullFightDay" />
      <xs:enumeration value="carnivalDay" />
      <xs:enumeration value="exhibitionDay" />
      <xs:enumeration value="festivalDay" />
      <xs:enumeration value="gamesDay" />
      <xs:enumeration value="horseRaceMeetingDay" />
      <xs:enumeration value="huntMeetingDay" />
      <xs:enumeration value="marathonRaceDay" />
      <xs:enumeration value="marketDay" />
      <xs:enumeration value="motorSportRaceMeetingDay" />
      <xs:enumeration value="nonWorkingDay" />
      <xs:enumeration value="raceMeetingDay" />
      <xs:enumeration value="regattaDay" />
      <xs:enumeration value="showDay" />
      <xs:enumeration value="sportsMeetingDay" />
      <xs:enumeration value="workingDay" />
      <xs:enumeration value="schoolDay" />
      <xs:enumeration value="electionDay" />
      <xs:enumeration value="publicHoliday" />
      <xs:enumeration value="holidays" />
      <xs:enumeration value="undefinedDayType" />
      <xs:enumeration value="unknown" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SpeedPercentile">
    <xs:sequence>
      <xs:element name="vehiclePercentage" type="D2LogicalModel:PercentageValue" />
      <xs:element name="speedPercentile" type="D2LogicalModel:SpeedValue" />
      <xs:element name="speedPercentileExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SpeedValue">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:DataValue">
        <xs:sequence>
          <xs:element name="speed" type="D2LogicalModel:KilometresPerHour" minOccurs="1" maxOccurs="1" />
          <xs:element name="speedValueExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="String">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1024" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Subscription">
    <xs:sequence>
      <xs:element name="deleteSubscription" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="deliveryInterval" type="D2LogicalModel:Seconds" minOccurs="0" maxOccurs="1" />
      <xs:element name="operatingMode" type="D2LogicalModel:OperatingModeEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="subscriptionStartTime" type="D2LogicalModel:DateTime" minOccurs="1" maxOccurs="1" />
      <xs:element name="subscriptionState" type="D2LogicalModel:SubscriptionStateEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="subscriptionStopTime" type="D2LogicalModel:DateTime" minOccurs="0" maxOccurs="1" />
      <xs:element name="updateMethod" type="D2LogicalModel:UpdateMethodEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="target" type="D2LogicalModel:Target" maxOccurs="unbounded" />
      <xs:element name="filterReference" type="D2LogicalModel:FilterReference" minOccurs="0" />
      <xs:element name="catalogueReference" type="D2LogicalModel:CatalogueReference" minOccurs="0" />
      <xs:element name="subscriptionExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="SubscriptionStateEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active" />
      <xs:enumeration value="suspended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SupplementaryPositionalDescription">
    <xs:sequence>
      <xs:element name="locationDescriptor" type="D2LogicalModel:LocationDescriptorEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="sequentialRampNumber" type="D2LogicalModel:NonNegativeInteger" minOccurs="0" maxOccurs="1" />
      <xs:element name="affectedCarriagewayAndLanes" type="D2LogicalModel:AffectedCarriagewayAndLanes" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="supplementaryPositionalDescriptionExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="locationPrecision" type="D2LogicalModel:MetresAsNonNegativeInteger" use="optional" />
  </xs:complexType>
  <xs:complexType name="Target">
    <xs:sequence>
      <xs:element name="address" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="protocol" type="D2LogicalModel:String" minOccurs="1" maxOccurs="1" />
      <xs:element name="targetExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TimePeriodOfDay" abstract="true">
    <xs:sequence>
      <xs:element name="timePeriodOfDayExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TimePrecisionEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="tenthsOfSecond" />
      <xs:enumeration value="second" />
      <xs:enumeration value="minute" />
      <xs:enumeration value="quarterHour" />
      <xs:enumeration value="halfHour" />
      <xs:enumeration value="hour" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Tonnes">
    <xs:restriction base="D2LogicalModel:Float" />
  </xs:simpleType>
  <xs:complexType name="TrafficConcentration">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:TrafficData">
        <xs:sequence>
          <xs:element name="concentration" type="D2LogicalModel:ConcentrationOfVehiclesValue" minOccurs="0" />
          <xs:element name="occupancy" type="D2LogicalModel:PercentageValue" minOccurs="0" />
          <xs:element name="trafficConcentrationExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficData" abstract="true">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:BasicData">
        <xs:sequence>
          <xs:element name="forVehiclesWithCharacteristicsOf" type="D2LogicalModel:VehicleCharacteristics" minOccurs="0" />
          <xs:element name="trafficDataExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficSpeed">
    <xs:complexContent>
      <xs:extension base="D2LogicalModel:TrafficData">
        <xs:sequence>
          <xs:element name="averageVehicleSpeed" type="D2LogicalModel:SpeedValue" minOccurs="0" />
          <xs:element name="speedPercentile" type="D2LogicalModel:SpeedPercentile" minOccurs="0" />
          <xs:element name="trafficSpeedExtension" type="D2LogicalModel:_TrafficSpeedExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TrafficSpeedExtended">
    <xs:sequence>
      <xs:element name="additionalSpeedValues" type="D2LogicalModel:CAMSpeedCharacteristics" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrafficStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="impossible" />
      <xs:enumeration value="congested" />
      <xs:enumeration value="heavy" />
      <xs:enumeration value="freeFlow" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UpdateMethodEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="allElementUpdate" />
      <xs:enumeration value="singleElementUpdate" />
      <xs:enumeration value="snapshot" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UrgencyEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="extremelyUrgent" />
      <xs:enumeration value="urgent" />
      <xs:enumeration value="normalUrgency" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Validity">
    <xs:sequence>
      <xs:element name="validityStatus" type="D2LogicalModel:ValidityStatusEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="overrunning" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="validityTimeSpecification" type="D2LogicalModel:OverallPeriod" />
      <xs:element name="validityExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ValidityStatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="active" />
      <xs:enumeration value="suspended" />
      <xs:enumeration value="definedByValidityTimeSpec" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VehicleCharacteristicExtended4CAM">
    <xs:sequence>
      <xs:element name="vehicleTypeCAM" type="D2LogicalModel:VehicleTypeCAMEnum" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleCharacteristics">
    <xs:sequence>
      <xs:element name="fuelType" type="D2LogicalModel:FuelTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="loadType" type="D2LogicalModel:LoadTypeEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vehicleEquipment" type="D2LogicalModel:VehicleEquipmentEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vehicleType" type="D2LogicalModel:VehicleTypeEnum" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="vehicleUsage" type="D2LogicalModel:VehicleUsageEnum" minOccurs="0" maxOccurs="1" />
      <xs:element name="grossWeightCharacteristic" type="D2LogicalModel:GrossWeightCharacteristic" minOccurs="0" maxOccurs="2" />
      <xs:element name="heightCharacteristic" type="D2LogicalModel:HeightCharacteristic" minOccurs="0" maxOccurs="2" />
      <xs:element name="lengthCharacteristic" type="D2LogicalModel:LengthCharacteristic" minOccurs="0" maxOccurs="2" />
      <xs:element name="widthCharacteristic" type="D2LogicalModel:WidthCharacteristic" minOccurs="0" maxOccurs="2" />
      <xs:element name="heaviestAxleWeightCharacteristic" type="D2LogicalModel:HeaviestAxleWeightCharacteristic" minOccurs="0" maxOccurs="2" />
      <xs:element name="numberOfAxlesCharacteristic" type="D2LogicalModel:NumberOfAxlesCharacteristic" minOccurs="0" maxOccurs="2" />
      <xs:element name="vehicleCharacteristicsExtension" type="D2LogicalModel:_VehicleCharacteristicsExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VehicleCharacteristicsExtended">
    <xs:sequence>
      <xs:element name="emissionClassification" type="D2LogicalModel:String" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="operationFreeOfEmission" type="D2LogicalModel:Boolean" minOccurs="0" maxOccurs="1" />
      <xs:element name="loadType2" type="D2LogicalModel:LoadType2Enum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vehicleType2" type="D2LogicalModel:VehicleType2Enum" minOccurs="0" maxOccurs="1" />
      <xs:element name="fuelType2" type="D2LogicalModel:FuelType2Enum" minOccurs="0" maxOccurs="1" />
      <xs:element name="vehicleUsage2" type="D2LogicalModel:VehicleUsage2Enum" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VehicleEquipmentEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="notUsingSnowChains" />
      <xs:enumeration value="notUsingSnowChainsOrTyres" />
      <xs:enumeration value="snowChainsInUse" />
      <xs:enumeration value="snowTyresInUse" />
      <xs:enumeration value="snowChainsOrTyresInUse" />
      <xs:enumeration value="withoutSnowTyresOrChainsOnBoard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VehicleType2Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="motorhome" />
      <xs:enumeration value="lightGoodsVehicle" />
      <xs:enumeration value="heavyGoodsVehicle" />
      <xs:enumeration value="minibus" />
      <xs:enumeration value="smallCar" />
      <xs:enumeration value="largeCar" />
      <xs:enumeration value="lightGoodsVehicleWithTrailer" />
      <xs:enumeration value="heavyGoodsVehicleWithTrailer" />
      <xs:enumeration value="heavyHaulageVehicle" />
      <xs:enumeration value="passengerCar" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VehicleTypeCAMEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="unknown" />
      <xs:enumeration value="motorcycle" />
      <xs:enumeration value="passengerCar" />
      <xs:enumeration value="bus" />
      <xs:enumeration value="lightTruck" />
      <xs:enumeration value="heavyTruck" />
      <xs:enumeration value="specialVehicles" />
      <xs:enumeration value="vehicleWithBeamHeadlightsOn" />
      <xs:enumeration value="vehicleWithDaytimeRunningLightsOn" />
      <xs:enumeration value="vehicleWithFogLightOn" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VehicleTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="agriculturalVehicle" />
      <xs:enumeration value="anyVehicle" />
      <xs:enumeration value="articulatedVehicle" />
      <xs:enumeration value="bicycle" />
      <xs:enumeration value="bus" />
      <xs:enumeration value="car" />
      <xs:enumeration value="caravan" />
      <xs:enumeration value="carOrLightVehicle" />
      <xs:enumeration value="carWithCaravan" />
      <xs:enumeration value="carWithTrailer" />
      <xs:enumeration value="constructionOrMaintenanceVehicle" />
      <xs:enumeration value="fourWheelDrive" />
      <xs:enumeration value="highSidedVehicle" />
      <xs:enumeration value="lorry" />
      <xs:enumeration value="moped" />
      <xs:enumeration value="motorcycle" />
      <xs:enumeration value="motorcycleWithSideCar" />
      <xs:enumeration value="motorscooter" />
      <xs:enumeration value="tanker" />
      <xs:enumeration value="threeWheeledVehicle" />
      <xs:enumeration value="trailer" />
      <xs:enumeration value="tram" />
      <xs:enumeration value="twoWheeledVehicle" />
      <xs:enumeration value="van" />
      <xs:enumeration value="vehicleWithCatalyticConverter" />
      <xs:enumeration value="vehicleWithoutCatalyticConverter" />
      <xs:enumeration value="vehicleWithCaravan" />
      <xs:enumeration value="vehicleWithTrailer" />
      <xs:enumeration value="withEvenNumberedRegistrationPlates" />
      <xs:enumeration value="withOddNumberedRegistrationPlates" />
      <xs:enumeration value="other" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VehicleUsage2Enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="cityLogistics" />
      <xs:enumeration value="carSharing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VehicleUsageEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="agricultural" />
      <xs:enumeration value="commercial" />
      <xs:enumeration value="emergencyServices" />
      <xs:enumeration value="military" />
      <xs:enumeration value="nonCommercial" />
      <xs:enumeration value="patrol" />
      <xs:enumeration value="recoveryServices" />
      <xs:enumeration value="roadMaintenanceOrConstruction" />
      <xs:enumeration value="roadOperator" />
      <xs:enumeration value="taxi" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VersionedReference">
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:simpleType name="WeekOfMonthEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="firstWeekOfMonth" />
      <xs:enumeration value="secondWeekOfMonth" />
      <xs:enumeration value="thirdWeekOfMonth" />
      <xs:enumeration value="fourthWeekOfMonth" />
      <xs:enumeration value="fifthWeekOfMonth" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WidthCharacteristic">
    <xs:sequence>
      <xs:element name="comparisonOperator" type="D2LogicalModel:ComparisonOperatorEnum" minOccurs="1" maxOccurs="1" />
      <xs:element name="vehicleWidth" type="D2LogicalModel:MetresAsFloat" minOccurs="1" maxOccurs="1" />
      <xs:element name="widthCharacteristicExtension" type="D2LogicalModel:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>