Version 3/Austrian Reference Profile TRAFFIC SIGNS/schema/LevelC_3_AustriaProfile_1.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:atp="http://levelC/schema/3/austriaProfile" version="3.3" targetNamespace="http://levelC/schema/3/austriaProfile" xmlns:com="http://levelC/schema/3/common" xmlns:loc="http://levelC/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://levelC/schema/3/locationReferencing" schemaLocation="LevelC_3_LocationReferencing.xsd" />
  <xs:import namespace="http://levelC/schema/3/common" schemaLocation="LevelC_3_Common.xsd" />
  <xs:complexType name="_GipLinkLinearLocationReferenceIndexGipLink">
    <xs:sequence>
      <xs:element name="gipLink" type="atp:GipLink" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_GipLinkPointLocationReferenceIndexGipLink">
    <xs:sequence>
      <xs:element name="gipLink" type="atp:GipLink" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="index" type="xs:int" use="required" />
  </xs:complexType>
  <xs:complexType name="_GipReferenceDirectionEnum">
    <xs:simpleContent>
      <xs:extension base="atp:GipReferenceDirectionEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_VmsCategoryEnum">
    <xs:simpleContent>
      <xs:extension base="atp:VmsCategoryEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AdditionalCarriagewayDetails">
    <xs:annotation>
      <xs:documentation>Additional details of the carriageway</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="isHardShoulderUsable" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Set to true if the HardShoulder becomes operational (e.g. in hard shoulder running schemes)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_additionalCarriagewayDetailsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalPictogramDetails">
    <xs:annotation>
      <xs:documentation>Additional details related to Pictograms</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="distance" type="com:MetresAsNonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value of distance that is displayable as part of the pictogram (e.g. for keep minimum safe distance).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="height" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value of height that is displayable as part of the pictogram (e.g. for a vehicle height restriction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="length" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value of length that is displayable as part of the pictogram (e.g. for a vehicle length restriction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="speed" type="com:KilometresPerHour" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value of speed that is displayable as part of the pictogram (e.g. for a maximum speed limit).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="weight" type="com:Tonnes" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Value of weight that is displayable as part of the pictogram (e.g. for a maximum weight restriction).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_additionalPictogramDetailsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalVmsControllerStatusDetails">
    <xs:annotation>
      <xs:documentation>Extension for VmsControllerStatus</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="additionalVmsControllerStatusDetails" type="atp:AdditionalVmsDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional details related to a VmsControllerStatus</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdditionalVmsDetails">
    <xs:annotation>
      <xs:documentation>Additional details related to a Vms. This can be part of both VmsUnitRecord (static feed) and VmsUnit (dynamic feed)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="canDisplaySpeedSign" type="com:Boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether or not a VmsUnit is capable to display a speed sign. If the value is true, then it indicates that the VmsUnit can display the speed sign.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="category" type="atp:_VmsCategoryEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Category of the VmsController</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_additionalVmsDetailsExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedCarriageway">
    <xs:annotation>
      <xs:documentation>Extension for Carriageway</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="additionalCarriagewayDetails" type="atp:AdditionalCarriagewayDetails" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedLinearForGipLink">
    <xs:annotation>
      <xs:documentation>An extension for GipLink linear location reference</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gipLinkLinearLocationReference" type="atp:GipLinkLinearLocationReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedPictogram">
    <xs:annotation>
      <xs:documentation>Extension for Pictogram</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="additionalPictogramDetails" type="atp:AdditionalPictogramDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional details related to a Pictogram</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedPointForGipLink">
    <xs:annotation>
      <xs:documentation>An extension for Point to provide GipLink information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gipLinkPointLocationReference" type="atp:GipLinkPointLocationReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExtendedVmsController">
    <xs:annotation>
      <xs:documentation>Extension for VmsController</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="additionalVmsControllerDetails" type="atp:AdditionalVmsDetails" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Additional details related to a VmsController</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GipLink">
    <xs:annotation>
      <xs:documentation>A GIPLink object</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="linkId" type="com:String" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifier of the GipLink</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referenceDirection" type="atp:_GipReferenceDirectionEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference direction</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="linkPercentageFrom" type="loc:PercentageDistanceAlongLinearElement">
        <xs:annotation>
          <xs:documentation>From offset</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="linkPercentageTo" type="loc:PercentageDistanceAlongLinearElement">
        <xs:annotation>
          <xs:documentation>To offset</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_gipLinkExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GipLinkLinearLocationReference">
    <xs:annotation>
      <xs:documentation>Contains one or more gip links that are part of a linear location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gipLink" type="atp:_GipLinkLinearLocationReferenceIndexGipLink" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_gipLinkLinearLocationReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="version" type="com:String" use="optional">
      <xs:annotation>
        <xs:documentation>Version of the provided GIP links. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="com:String" use="optional">
      <xs:annotation>
        <xs:documentation>Name of the provided GIP</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GipLinkPointLocationReference">
    <xs:annotation>
      <xs:documentation>Contains one or more Gip links that are part of a point location</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gipLink" type="atp:_GipLinkPointLocationReferenceIndexGipLink" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_gipLinkPointLocationReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="version" type="com:String" use="optional">
      <xs:annotation>
        <xs:documentation>Version of the provided GIP links. </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="com:String" use="optional">
      <xs:annotation>
        <xs:documentation>Name of the provided GIP</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="GipReferenceDirectionEnum">
    <xs:annotation>
      <xs:documentation>Enumeation for GipLink reference direction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="fromTo">
        <xs:annotation>
          <xs:documentation>from to</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="toFrom">
        <xs:annotation>
          <xs:documentation>to from</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VmsCategoryEnum">
    <xs:annotation>
      <xs:documentation>Enumeation for GipLink reference direction</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than those specified in the enumeration</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vms">
        <xs:annotation>
          <xs:documentation>A standard "Variable Message Sign" that contains one or more centre-lane (or centre of the lane) mounted traffic signs.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vtp">
        <xs:annotation>
          <xs:documentation>Variable Text Panels or VTPs are changeable signs on which information about particular events are presented in the form of free text, accompanied by at least one pictogram. </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vds">
        <xs:annotation>
          <xs:documentation>Variable Directional Signs (VDS) are signs that can display pre-defined scenarios on otherwise conventional road sign plates by rotation of three or four prism bars.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="metalSign">
        <xs:annotation>
          <xs:documentation>Conventional sign plates placed on the side of the road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>