Version 3/Slovenian profile on Travel Times/schema/DATEXII_3_RoadTrafficData_0.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:roa="http://datex2.eu/schema/3/roadTrafficData" version="3.3" targetNamespace="http://datex2.eu/schema/3/roadTrafficData" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_TimeMeaningEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TimeMeaningEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TravelTimeTrendTypeEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TravelTimeTrendTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TravelTimeTypeEnum">
    <xs:simpleContent>
      <xs:extension base="roa:TravelTimeTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BasicData" abstract="true">
    <xs:annotation>
      <xs:documentation>Data that are either measured or calculated at the same time or over the same time period.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="measurementOrCalculationTime" type="roa:MeasurementOrCalculationTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Characteristics of the measurement or calculation time which should be considered to override any specified defaults</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_basicDataExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DurationValue">
    <xs:annotation>
      <xs:documentation>A measured or calculated value of a period of time.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:DataValue">
        <xs:sequence>
          <xs:element name="duration" type="com:Seconds" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A period of time expressed in seconds.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_durationValueExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElaboratedDataPublication">
    <xs:annotation>
      <xs:documentation>A publication containing one or more elaborated data sets.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="timeDefault" type="com:DateTime" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The default for the publication of the time at which the values have been computed/derived.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="headerInformation" type="com:HeaderInformation" />
          <xs:element name="physicalQuantity" type="roa:PhysicalQuantity" maxOccurs="unbounded" />
          <xs:element name="informationManager" type="com:InternationalIdentifier" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_elaboratedDataPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasurementOrCalculationTime">
    <xs:annotation>
      <xs:documentation>Describes the time at which a measured or calculated value or set of values was measured or calculated. It may be a future time at which a data value is predicted to apply.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="timeMeaning" type="roa:_TimeMeaningEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Meaning of associated time value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeValue" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Point in time at which this specific value or set of values has been measured or calculated. It may also be a future time at which a data value is predicted.  It may be the time of the beginning, the end or the middle of a measurement period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="period" type="com:Period" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The measurement or calculation period</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measurementOrCalculationTimeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="timePrecision" type="com:TimePrecisionEnum" use="optional">
      <xs:annotation>
        <xs:documentation>The precision to which the time of measurement or calculation is given.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PhysicalQuantity" abstract="true">
    <xs:annotation>
      <xs:documentation>A measured or calculated physical quantity, with related properties explaining its context, meaning or status</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="pertinentLocation" type="loc:LocationReference" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The location (e.g. the stretch of road or area) to which the data value(s) is or are pertinent/relevant. This may be different from the location of the measurement equipment (i.e. the measurement site location). </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="com:Source" minOccurs="0" />
      <xs:element name="informationManagerOverride" type="com:InternationalIdentifier" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Organisation that manages the information content (is responsible for updates of this information) typically the organisation that first made the DATEX II publication of this content. This value overrides any value specified at a more general level.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_physicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SinglePhysicalQuantity">
    <xs:annotation>
      <xs:documentation>A measured or calculated physical quantity at a single instant or period in time, with related properties explaining its context, meaning or status</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:PhysicalQuantity">
        <xs:sequence>
          <xs:element name="basicData" type="roa:BasicData" minOccurs="0" />
          <xs:element name="_singlePhysicalQuantityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TimeMeaningEnum">
    <xs:annotation>
      <xs:documentation>Explains the meaning of a specific time value with respect to a time period</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="beginTime">
        <xs:annotation>
          <xs:documentation>Meaning the beginning of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="endTime">
        <xs:annotation>
          <xs:documentation>Meaning the end of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="middleTime">
        <xs:annotation>
          <xs:documentation>Meaning the mid-point of a period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TravelTimeData">
    <xs:annotation>
      <xs:documentation>Derived/computed travel time information relating to a linear section of the road network; forecast = true means a forecast for a vehicle at the start of the specified location, forecast = false means calculation/measurement at the end.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="roa:BasicData">
        <xs:sequence>
          <xs:element name="travelTimeTrendType" type="roa:_TravelTimeTrendTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The current trend in the travel time between the defined locations in the specified direction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="travelTimeType" type="roa:_TravelTimeTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indication of the way in which the travel time is derived.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="vehicleType" type="com:_VehicleTypeEnum" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Vehicle type.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="travelTime" type="roa:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Derived/computed travel time information relating to a specific group of locations.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="freeFlowTravelTime" type="roa:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The travel time which would be expected under ideal free flow conditions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="normallyExpectedTravelTime" type="roa:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The travel time which is expected for the given period (e.g. date/time, holiday status etc.) and any known quasi-static conditions (e.g. long-term roadworks). This value is derived from historical analysis.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="travelTimeDelay" type="roa:DurationValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Delay in travel time compared to free-flow conditions</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="freeFlowSpeed" type="com:SpeedValue" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The free flow speed expected under ideal conditions, corresponding to the freeFlowTravelTime.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_travelTimeDataExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TravelTimeTrendTypeEnum">
    <xs:annotation>
      <xs:documentation>List of terms used to describe the trend in travel times.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="decreasing">
        <xs:annotation>
          <xs:documentation>Travel times are decreasing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="increasing">
        <xs:annotation>
          <xs:documentation>Travel times are increasing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stable">
        <xs:annotation>
          <xs:documentation>Travel times are stable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TravelTimeTypeEnum">
    <xs:annotation>
      <xs:documentation>List of ways in which travel times are derived.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="best">
        <xs:annotation>
          <xs:documentation>Travel time is derived from the best out of a monitored sample.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="estimated">
        <xs:annotation>
          <xs:documentation>Travel time is an automated estimate.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="instantaneous">
        <xs:annotation>
          <xs:documentation>Travel time is derived from instantaneous measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reconstituted">
        <xs:annotation>
          <xs:documentation>Travel time is reconstituted from other measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="predictor">
        <xs:annotation>
          <xs:documentation>Travel time is the output of a predictor, for example a blend of current and historical data, or a traffic flow model using current measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="profile">
        <xs:annotation>
          <xs:documentation>Travel time is based on past observations, without use of current measurements.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sum">
        <xs:annotation>
          <xs:documentation>Travel time is the sum of current travel times on subsections of the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>