Version 3/Slovenian profile on Traffic Management Plans/schema/DATEXII_3_TrafficManagementPlan.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tmp="http://datex2.eu/schema/3/trafficManagementPlan" version="02-00-00" targetNamespace="http://datex2.eu/schema/3/trafficManagementPlan" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:sit="http://datex2.eu/schema/3/situation" xmlns:vms="http://datex2.eu/schema/3/vms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/vms" schemaLocation="DATEXII_3_Vms.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/situation" schemaLocation="DATEXII_3_Situation.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_ActionDefinitionVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="tmp:ActionDefinition" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_MeasureDefinitionVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="tmp:MeasureDefinition" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_ResponseVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="tmp:Response" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_SituationRecordVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="sit:SituationRecord" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_StrategyDefinitionVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="tmp:StrategyDefinition" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_TmplanOperationStatusEnum">
    <xs:simpleContent>
      <xs:extension base="tmp:TmplanOperationStatusEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TmplanScenarioVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="tmp:TmplanScenario" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="_TmplanTableVersionedReference">
    <xs:complexContent>
      <xs:extension base="com:VersionedReference">
        <xs:attribute name="targetClass" type="xs:string" use="required" fixed="tmp:TmplanTable" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Action" abstract="true">
    <xs:annotation>
      <xs:documentation>An action needed to implement a specific measure.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time stamp indicating when this version of the measure was created or updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_actionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActionByReference">
    <xs:annotation>
      <xs:documentation>A reference to a Traffic Management Plan action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:Action">
        <xs:sequence>
          <xs:element name="actionReference" type="tmp:_ActionDefinitionVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A reference to a Traffic Management Plan action.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_actionByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ActionDefinition">
    <xs:annotation>
      <xs:documentation>Element of a Traffic Management Plan table which refers to the definition of an action.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:Action">
        <xs:sequence>
          <xs:element name="externalIdentification" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An external identifier for an action defined shared between data supplier and recepient during the Traffic Management Plan design phase.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the action in natural language.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="actionImplementer" type="com:InternationalIdentifier" minOccurs="0" />
          <xs:element name="operatorActionTemplate" type="tmp:OperatorActionTemplate" minOccurs="0" />
          <xs:element name="_actionDefinitionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Duration">
    <xs:annotation>
      <xs:documentation>A duration, specified in terms of a string following ISO 8601: Starting with "P", followed by the amount of years (with letter Y), months (M), days (D), extra letter "T", hours (H), minutes (M) and seconds (S). Example: P3Y6M4DT12H30M17S.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="com:String" />
  </xs:simpleType>
  <xs:complexType name="Measure" abstract="true">
    <xs:annotation>
      <xs:documentation>A measure, either implemented as a reference or by definition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time stamp indicating when this version of the measure was created or updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_measureExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MeasureByReference">
    <xs:annotation>
      <xs:documentation>A reference to a Traffic Management Plan measure.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:Measure">
        <xs:sequence>
          <xs:element name="measureReference" type="tmp:_MeasureDefinitionVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A reference to a Traffic Management Plan measure.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_measureByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MeasureDefinition">
    <xs:annotation>
      <xs:documentation>Element of a Traffic Management Plan table which refers to the definition of a measure.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:Measure">
        <xs:sequence>
          <xs:element name="externalIdentification" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An external identifier for a measure defined shared between data supplier and recipient during the Traffic Management Plan design phase.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the measure in natural language.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="action" type="tmp:Action" maxOccurs="unbounded" />
          <xs:element name="_measureDefinitionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NonPredefinedAction">
    <xs:annotation>
      <xs:documentation>An action needed to implement a non-predefined Traffic Management Plan scenario and/or strategy.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nonPredefinedActionDescription" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Description of the action needed to implement a specific non-predefined strategy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="nonPredefinedActionId" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The common reference to an external identifier for a non-predefined action among, shared between data supplier and recepient, defined during the Traffic Management Plan design phase</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="actionImplementingSituationRecord" type="tmp:_SituationRecordVersionedReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference to a SituationRecord which has been created to implement the requested action by the action implementer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="internationalIdentifier" type="com:InternationalIdentifier" />
      <xs:element name="operatorActionTemplate" type="tmp:OperatorActionTemplate" minOccurs="0" />
      <xs:element name="_nonPredefinedActionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NonPredefinedTmplanOperation">
    <xs:annotation>
      <xs:documentation>Operational status of a non-predefined Traffic Management Plan.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:TmplanOperation">
        <xs:sequence>
          <xs:element name="nonPredefinedScenarioDescription" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the non-predefined scenario in natural language</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonPredefinedScenarioId" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An identifier to be used as a common reference for the non-predefined scenario shared between data supplier and recepient.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonPredefinedStrategyDescription" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the non-predefined strategy in natural language.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonPredefinedStrategyId" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The common reference to an external identifier for the non-predefined strategy shared between data supplier and recepient.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="nonPredefinedAction" type="tmp:NonPredefinedAction" maxOccurs="unbounded" />
          <xs:element name="_nonPredefinedTmplanOperationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OperatorActionExtendedTmplan">
    <xs:annotation>
      <xs:documentation>Extension class for OperatorAction.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tmplanImplementingAction" type="tmp:TmplanImplementingAction" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OperatorActionTemplate">
    <xs:annotation>
      <xs:documentation>Predefines an action for a traffic operator that will serve as a Traffic Management Plan action.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="complianceOption" type="sit:_ComplianceOptionEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Defines whether the predefined operator action is advisory or mandatory.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicableForTrafficDirection" type="loc:_DirectionEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The ultimate traffic direction (flow) to which the predefined operator action is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicableForTrafficType" type="sit:_TrafficTypeEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The type of traffic to which the predefined operator action is applicable.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="placesAtWhichApplicable" type="sit:_PlacesEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Places, in generic terms, at which the predefined operator action applies.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="automaticallyInitiated" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>If specified as True indicates that the predefined operator action is initiated by an automatic system; otherwise, it is manually initiated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="temporarySpeedLimit" type="com:KilometresPerHour" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Only to be used in combination with the speedManagementType: Temporary limit defining the maximum advisory or mandatory speed of vehicles.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expectedDuration" type="tmp:Duration" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The expected duration of the predefined action (expressed in ISO 8601 notation).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicableToVehiclesWithCharacteristicsOf" type="com:VehicleCharacteristics" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="predefinedOperatorActionType" type="tmp:PredefinedOperatorActionType" />
      <xs:element name="targetLocation" type="loc:LocationReference" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_operatorActionTemplateExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedAction">
    <xs:annotation>
      <xs:documentation>Information about predefined action in Traffic Management Plan activation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="actionImplementingSituationRecord" type="tmp:_SituationRecordVersionedReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference to a situationRecord which has been created to implement the requested action by the action implementer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="predefinedActionReference" type="tmp:_ActionDefinitionVersionedReference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The reference to the specific action defined in a predefined Traffic Management Plan for which the situation record is an implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_predefinedActionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedMeasureSelected">
    <xs:annotation>
      <xs:documentation>Reference to the specific measure chosen to implement the requested Traffic Management Plan strategy.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="predefinedMeasureReference" type="tmp:_MeasureDefinitionVersionedReference" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Reference to the specific Measure chosen to implement the requested Traffic Management Plan strategy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="predefinedAction" type="tmp:PredefinedAction" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_predefinedMeasureSelectedExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedOperatorActionType">
    <xs:annotation>
      <xs:documentation>The type of predefined operator action. Exactly one of the attributes or aggregations must be populated/used.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="generalInstructionToRoadUsersType" type="sit:_GeneralInstructionToRoadUsersTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>General instruction that is issued by the network/road operator which is applicable to drivers and sometimes passengers.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="generalNetworkManagementType" type="sit:_GeneralNetworkManagementTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The type of traffic management action instigated by the network/road operator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="roadMaintenanceType" type="sit:_RoadMaintenanceTypeEnum" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>The type of road maintenance or installation work at the specified location.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="roadOrCarriagewayOrLaneManagementType" type="sit:_RoadOrCarriagewayOrLaneManagementTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of road, carriageway or lane management action instigated by operator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="roadsideAssistanceType" type="sit:_RoadsideAssistanceTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates the nature of the roadside assistance that will be, is or has been provided.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="speedManagementType" type="sit:_SpeedManagementTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of speed management action instigated by operator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="winterEquipmentManagementType" type="com:_WinterEquipmentManagementTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Type of winter equipment management action instigated by operator.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="vmsControllerStatus" type="vms:VmsControllerStatus" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="_predefinedOperatorActionTypeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PredefinedTmplanOperation">
    <xs:annotation>
      <xs:documentation>Operation status of a predefined Traffic Management Plan.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:TmplanOperation">
        <xs:sequence>
          <xs:element name="tmplanTableReference" type="tmp:_TmplanTableVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Reference to the Traffic Management Plan table which defines the Traffic Management Plan design information and references.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="predefinedScenarioReference" type="tmp:_TmplanScenarioVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Reference to a predefined Traffic Management Plan scenario which requires the current Traffic Management Plan activation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="predefinedResponseReference" type="tmp:_ResponseVersionedReference" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Reference to the predefined Traffic Management Plan response which is requested or implemented.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="predefinedMeasureSelected" type="tmp:PredefinedMeasureSelected" minOccurs="0" />
          <xs:element name="_predefinedTmplanOperationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Response">
    <xs:annotation>
      <xs:documentation>A response to a Traffic Management Plan scenario.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="externalIdentification" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An external identifier for a Traffic Management Plan response, defined during the Traffic Management Plan design phase.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Description of Traffic Management Plan response in natural language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="strategy" type="tmp:Strategy" minOccurs="0" />
      <xs:element name="measure" type="tmp:Measure" minOccurs="0" />
      <xs:element name="_responseExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="Strategy" abstract="true">
    <xs:annotation>
      <xs:documentation>A strategy, either implemented as a reference or by definition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time stamp indicating when this version of the strategy was created or updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_strategyExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StrategyByReference">
    <xs:annotation>
      <xs:documentation>A reference to a Traffic Management Plan strategy.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:Strategy">
        <xs:sequence>
          <xs:element name="strategyReference" type="tmp:_StrategyDefinitionVersionedReference" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A reference to a Traffic Management Plan strategy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_strategyByReferenceExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StrategyDefinition">
    <xs:annotation>
      <xs:documentation>Element of a Traffic Management Plan table which refers to the definition of a strategy.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="tmp:Strategy">
        <xs:sequence>
          <xs:element name="externalIdentification" type="com:String" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>An external identifier for a strategy defined shared between data supplier and recipient during the Traffic Management Plan design phase.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="description" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Description of the strategy in natural language.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="measure" type="tmp:Measure" minOccurs="2" maxOccurs="unbounded" />
          <xs:element name="_strategyDefinitionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="version" type="xs:string" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TmplanImplementingAction">
    <xs:annotation>
      <xs:documentation>Represents the information of an OperatorAction which has been implemented or is planned based on a Traffic Management Plan activation request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="nonPredefinedActionIdReference" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The common reference to an external identifier for a non-predefined action, shared between data supplier and recepient, defined during the Traffic Management Plan design phase.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="predefinedActionReference" type="tmp:_ActionDefinitionVersionedReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The reference to the specific action defined in a predefined Traffic Management Plan for which the SituationRecord is an implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="predefinedMeasureReference" type="tmp:_MeasureDefinitionVersionedReference" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The reference to the specific measure chosen to be implemented in response to the requested Traffic Management Plan strategy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_tmplanImplementingActionExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TmplanOperation" abstract="true">
    <xs:annotation>
      <xs:documentation>The operation status in the lifecycle of a specific real-time Traffic Management Plan which is needed to manage after some scenario is running in the road network.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="creationTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Creation time of the Traffic Management Plan life cycle, i.e. the time when either an agreement or an implementation was requested.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expiryTime" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A timestamp after which the Traffic Management Plan is no further to be implemented.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="tmp:_TmplanOperationStatusEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The operational status of the Traffic Management Plan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="statusReason" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Textual description for the reason of the current Traffic Management Plan operation status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Timestamp for this current version of the operational status.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="involvedRoadOperatorConsensusRate" type="com:Percentage" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Ratio of agreement to participation of all partners affected by the TMP in the coordination process. Partners are those organisations whose approval is required to enact the TMP.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="headerInformation" type="com:HeaderInformation" />
      <xs:element name="_tmplanOperationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="TmplanOperationPublication">
    <xs:annotation>
      <xs:documentation>Publication to define a Traffic Management Plan operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tmplanOperation" type="tmp:TmplanOperation" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TmplanOperationStatusEnum">
    <xs:annotation>
      <xs:documentation>The status of operation for a Traffic Management Plan.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="agreementRequested">
        <xs:annotation>
          <xs:documentation>A Traffic Management Plan agreement request is proposed to road operators before it can be implemented</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="externalAgreementRequested">
        <xs:annotation>
          <xs:documentation>The activation has been approved in the original proposing system and now agreement is sought from collaborating systems or organisations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="agreementRejected">
        <xs:annotation>
          <xs:documentation>The Traffic Management Plan request has been rejected</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="agreementTimeout">
        <xs:annotation>
          <xs:documentation>The activation service request had been not answered in the allowed time period</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="agreementApproved">
        <xs:annotation>
          <xs:documentation>Traffic Management Plan request proposed had been approved.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="implementationRequested">
        <xs:annotation>
          <xs:documentation>Request for implementation is raised, whenever no need of proposal is needed, or a previous proposal have been agreed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="implementationTimeout">
        <xs:annotation>
          <xs:documentation>No information on implementation of some Traffic Management Plan action had been received in an agreed timeout after the Traffic Management Plan implementation request.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="implementationAborted">
        <xs:annotation>
          <xs:documentation>The implementation of this Traffic Management Plan has been aborted.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="implemented">
        <xs:annotation>
          <xs:documentation>Traffic Management Plan is implemented on road network</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="activationRequested">
        <xs:annotation>
          <xs:documentation>Activation of this Traffic Management Plan was requested.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="activationCancelled">
        <xs:annotation>
          <xs:documentation>The activation of the Traffic Management Plan was cancelled.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="activationTerminated">
        <xs:annotation>
          <xs:documentation>The activation of this Traffic Management Plan was terminated.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="activated">
        <xs:annotation>
          <xs:documentation>The Traffic Management Plan was activated.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="terminationRequested">
        <xs:annotation>
          <xs:documentation>Request to terminate the Traffic Management Plan during implementation phase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cancellationRequested">
        <xs:annotation>
          <xs:documentation>request to cancel the Traffic Management Plan Activation before implementation phase</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="terminated">
        <xs:annotation>
          <xs:documentation>The Traffic Management Plan activation service is terminated</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cancelled">
        <xs:annotation>
          <xs:documentation>The Traffic Management Plan activation request has been cancelled</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TmplanScenario">
    <xs:annotation>
      <xs:documentation>Element of a Traffic Management Plan table which refers to the definition of a scenario.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="externalIdentification" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An external identifier for a Traffic Management Plan scenario, defined during the Traffic Management Plan design phase.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="situationFilter" type="com:String" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Filter expressions for traffic related situations to trigger this scenario. The filter language/expressions have to be defined individually.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time stamp indicating when this version of the scenario was created or updated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Description of Traffic Management Plan scenario in natural language.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="response" type="tmp:Response" maxOccurs="unbounded" />
      <xs:element name="_tmplanScenarioExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="TmplanTable">
    <xs:annotation>
      <xs:documentation>A set of consistent Traffic Management Plan information agreed among implementers when designing a Traffic Management Plan.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="externalIdentification" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identification of the Traffic Management Plan table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="versionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Time stamp of this version of the Traffic Management Plan table.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A description for the Traffic Management Plan.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="headerInformation" type="com:HeaderInformation" />
      <xs:element name="tmplanScenario" type="tmp:TmplanScenario" maxOccurs="unbounded" />
      <xs:element name="_tmplanTableExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="TmplanTablePublication">
    <xs:annotation>
      <xs:documentation>Publication to convey information about static definition of Traffic Management Plan related information defined at design phase.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tmplanTable" type="tmp:TmplanTable" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>