Version 3/Slovenian profile on Traffic Events/schema/DATEXII_3_Situation_1.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:sit="http://datex2.eu/schema/3/situation" version="3.3" targetNamespace="http://datex2.eu/schema/3/situation" xmlns:com="http://datex2.eu/schema/3/common" xmlns:loc="http://datex2.eu/schema/3/locationReferencing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://datex2.eu/schema/3/locationReferencing" schemaLocation="DATEXII_3_LocationReferencing.xsd" />
  <xs:import namespace="http://datex2.eu/schema/3/common" schemaLocation="DATEXII_3_Common.xsd" />
  <xs:complexType name="_AbnormalTrafficTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:AbnormalTrafficTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_AccidentTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:AccidentTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_AnimalPresenceTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:AnimalPresenceTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_CauseTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:CauseTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_CommentTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:CommentTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ComplianceOptionEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ComplianceOptionEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ConstructionWorkTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ConstructionWorkTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DelayBandEnum">
    <xs:simpleContent>
      <xs:extension base="sit:DelayBandEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DelaysTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:DelaysTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_DisturbanceActivityTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:DisturbanceActivityTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_EnvironmentalObstructionTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:EnvironmentalObstructionTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_GeneralInstructionToRoadUsersTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:GeneralInstructionToRoadUsersTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_GeneralNetworkManagementTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:GeneralNetworkManagementTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_InfrastructureDamageTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:InfrastructureDamageTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_NonWeatherRelatedRoadConditionTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:NonWeatherRelatedRoadConditionTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ObstructionTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ObstructionTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_PoorEnvironmentTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:PoorEnvironmentTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_ProbabilityOfOccurrenceEnum">
    <xs:simpleContent>
      <xs:extension base="sit:ProbabilityOfOccurrenceEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RoadMaintenanceTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:RoadMaintenanceTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_RoadOrCarriagewayOrLaneManagementTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:RoadOrCarriagewayOrLaneManagementTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SeverityEnum">
    <xs:simpleContent>
      <xs:extension base="sit:SeverityEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_SpeedManagementTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:SpeedManagementTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_TrafficConstrictionTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:TrafficConstrictionTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="_VehicleObstructionTypeEnum">
    <xs:simpleContent>
      <xs:extension base="sit:VehicleObstructionTypeEnum">
        <xs:attribute name="_extendedValue" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="AbnormalTraffic">
    <xs:annotation>
      <xs:documentation>A traffic condition which is not normal.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:TrafficElement">
        <xs:sequence>
          <xs:element name="abnormalTrafficType" type="sit:_AbnormalTrafficTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>A characterization of the nature of abnormal traffic flow, i.e. specifically relating to the nature of the traffic movement, implying a level of service.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="queueLength" type="com:MetresAsNonNegativeInteger" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The length of a queue or the average length of queues in separate lanes due to a situation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_abnormalTrafficExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AbnormalTrafficTypeEnum">
    <xs:annotation>
      <xs:documentation>Descriptive terms for abnormal traffic conditions specifically relating to the nature of the traffic movement, implying levels of service.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="stationaryTraffic">
        <xs:annotation>
          <xs:documentation>Traffic is stationary, or very near stationary, at the specified location (i.e. average speed is less than 10% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="queuingTraffic">
        <xs:annotation>
          <xs:documentation>Traffic is queuing at the specified location, although there is still some traffic movement (i.e. average speed is between 10% and 25% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="slowTraffic">
        <xs:annotation>
          <xs:documentation>Traffic is slow moving at the specified location, but not yet forming queues (i.e. average speed is between 25% and 75% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="heavyTraffic">
        <xs:annotation>
          <xs:documentation>Traffic is heavy at the specified location (i.e. average speed is between 75% and 90% of its free-flow level).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unspecifiedAbnormalTraffic">
        <xs:annotation>
          <xs:documentation>There are abnormal traffic conditions of an unspecified nature at the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Accident">
    <xs:annotation>
      <xs:documentation>Accidents are events where one or more vehicles are involved in collisions or in leaving the roadway. These include collisions between vehicles or with other road users or obstacles.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:TrafficElement">
        <xs:sequence>
          <xs:element name="accidentType" type="sit:_AccidentTypeEnum" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>A characterization of the nature of the accident.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_accidentExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AccidentTypeEnum">
    <xs:annotation>
      <xs:documentation>Collection of descriptive terms for types of accidents.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="accident">
        <xs:annotation>
          <xs:documentation>Accidents are situations in which one or more vehicles lose control and do not recover.  They include collisions between vehicle(s) or other road user(s), between vehicle(s) and fixed obstacle(s), or they result from a vehicle running off the road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="accidentInvolvingTrain">
        <xs:annotation>
          <xs:documentation>Includes all accidents involving collision with a train.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="collision">
        <xs:annotation>
          <xs:documentation>Collision of vehicle with another object of unspecified type.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="multipleVehicleAccident">
        <xs:annotation>
          <xs:documentation>Includes all accidents involving three or more vehicles.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="secondaryAccident">
        <xs:annotation>
          <xs:documentation>Includes all situations resulting from vehicles avoiding or being distracted by earlier accidents.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="seriousInjuryOrFatalAccident">
        <xs:annotation>
          <xs:documentation>Includes all accidents believed to involve fatality or injury expected to require overnight hospitalisation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Activity" abstract="true">
    <xs:annotation>
      <xs:documentation>Deliberate human action external to the traffic stream or roadway which could disrupt traffic.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:TrafficElement">
        <xs:sequence>
          <xs:element name="_activityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnimalPresenceObstruction">
    <xs:annotation>
      <xs:documentation>An obstruction on the road resulting from the presence of animals.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Obstruction">
        <xs:sequence>
          <xs:element name="animalPresenceType" type="sit:_AnimalPresenceTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Indicates the nature of animals present on or near the roadway.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_animalPresenceObstructionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="AnimalPresenceTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of animal presence.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="animalsOnTheRoad">
        <xs:annotation>
          <xs:documentation>Traffic may be disrupted due to animals on the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="herdOfAnimalsOnTheRoad">
        <xs:annotation>
          <xs:documentation>Traffic may be disrupted due to a herd of animals on the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="largeAnimalsOnTheRoad">
        <xs:annotation>
          <xs:documentation>Traffic may be disrupted due to large animals on the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cause">
    <xs:annotation>
      <xs:documentation>Contains details of the cause of a record within a situation</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="causeDescription" type="com:MultilingualString" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Description of a cause which is not managed by the publication creator (e.g. an off network cause).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="causeType" type="sit:_CauseTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates an external influence that may be the causation of components of a situation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_causeExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CauseTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of causes of situations which are not managed or are off network.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="earlierIncident">
        <xs:annotation>
          <xs:documentation>An earlier incident.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="problemsAtBorderPost">
        <xs:annotation>
          <xs:documentation>Problems at the border crossing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Comment">
    <xs:annotation>
      <xs:documentation>A free text comment with an optional date/time stamp that can be used by the operator to convey un-coded observations/information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="comment" type="com:MultilingualString" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A free text comment that can be used by the operator to convey un-coded observations/information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="commentType" type="sit:_CommentTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A classification of the the type of comment.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_commentExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CommentTypeEnum">
    <xs:annotation>
      <xs:documentation>Classification of comment types.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="dataProcessingNote">
        <xs:annotation>
          <xs:documentation>A free text human oriented note describing the way the information in the SituationRecord has been or should be processed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="description">
        <xs:annotation>
          <xs:documentation>A free text human oriented description of the situation element defined by the SituationRecord.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="internalNote">
        <xs:annotation>
          <xs:documentation>A free text human oriented note that supports internal traffic control operations relating to the situation element defined by the SituationRecord.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="warning">
        <xs:annotation>
          <xs:documentation>A free text human oriented warning relating to the SituationRecord, such as advising the recipient that an advanced warning on VMS should be activated.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComplianceOptionEnum">
    <xs:annotation>
      <xs:documentation>Types of compliance.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="mandatory">
        <xs:annotation>
          <xs:documentation>Mandatory compliance.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Conditions">
    <xs:annotation>
      <xs:documentation>Any conditions which have the potential to degrade normal driving conditions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:TrafficElement">
        <xs:sequence>
          <xs:element name="_conditionsExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ConstructionWorks">
    <xs:annotation>
      <xs:documentation>Roadworks involving the construction of new infrastructure.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Roadworks">
        <xs:sequence>
          <xs:element name="constructionWorkType" type="sit:_ConstructionWorkTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The type of construction work being performed.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_constructionWorksExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ConstructionWorkTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of works relating to construction.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="blastingWork">
        <xs:annotation>
          <xs:documentation>Blasting or quarrying work at the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="constructionWork">
        <xs:annotation>
          <xs:documentation>Construction work of a general nature at the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="demolitionWork">
        <xs:annotation>
          <xs:documentation>Demolition work associated with the construction work.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadImprovementOrUpgrading">
        <xs:annotation>
          <xs:documentation>Construction work associated with improvements to the road or its layout or with it upgrading.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadWideningWork">
        <xs:annotation>
          <xs:documentation>Road widening work at the specified location.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DelayBandEnum">
    <xs:annotation>
      <xs:documentation>Classifications of a delay banded by length (i.e. the additional travel time).</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="negligible">
        <xs:annotation>
          <xs:documentation>Negligible delay.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="upToTenMinutes">
        <xs:annotation>
          <xs:documentation>Delay up to ten minutes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="betweenTenMinutesAndThirtyMinutes">
        <xs:annotation>
          <xs:documentation>Delay between ten minutes and thirty minutes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="betweenThirtyMinutesAndOneHour">
        <xs:annotation>
          <xs:documentation>Delay between thirty minutes and one hour.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="betweenOneHourAndThreeHours">
        <xs:annotation>
          <xs:documentation>Delay between one hour and three hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="betweenThreeHoursAndSixHours">
        <xs:annotation>
          <xs:documentation>Delay between three hours and six hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="longerThanSixHours">
        <xs:annotation>
          <xs:documentation>Delay longer than six hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Delays">
    <xs:annotation>
      <xs:documentation>The details of the delays being caused by the situation element defined in the situation record. It is recommended to only use one of the optional attributes to avoid confusion.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="delayBand" type="sit:_DelayBandEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The time band within which the additional travel time due to adverse travel conditions of any kind falls, when compared to "normal conditions".</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="delaysType" type="sit:_DelaysTypeEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Coarse classification of the delay.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="delayTimeValue" type="com:Seconds" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The value of the additional travel time due to adverse travel conditions of any kind, when compared to "normal conditions", given in seconds.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_delaysExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DelaysTypeEnum">
    <xs:annotation>
      <xs:documentation>Course classifications of a delay.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="delays">
        <xs:annotation>
          <xs:documentation>Delays on the road network as a result of any situation which causes hold-ups.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="delaysOfUncertainDuration">
        <xs:annotation>
          <xs:documentation>Delays on the road network whose predicted duration cannot be estimated.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="longDelays">
        <xs:annotation>
          <xs:documentation>Delays on the road network of unusual severity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="veryLongDelays">
        <xs:annotation>
          <xs:documentation>Delays on the road network of abnormally unusual severity.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DisturbanceActivity">
    <xs:annotation>
      <xs:documentation>Deliberate human action of either a public disorder nature or of a situation alert type which could disrupt traffic.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Activity">
        <xs:sequence>
          <xs:element name="disturbanceActivityType" type="sit:_DisturbanceActivityTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Includes all situations of a public disorder type or of an alert type, with potential to disrupt traffic.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_disturbanceActivityExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DisturbanceActivityTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of disturbance activities.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="attackOnVehicle">
        <xs:annotation>
          <xs:documentation>A situation where an attack on a vehicle or its occupants has taken place.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blockadeOrBarrier">
        <xs:annotation>
          <xs:documentation>A manned blockade or barrier across a road stopping vehicles passing.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="EnvironmentalObstruction">
    <xs:annotation>
      <xs:documentation>An obstruction on the road resulting from an environmental cause.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Obstruction">
        <xs:sequence>
          <xs:element name="environmentalObstructionType" type="sit:_EnvironmentalObstructionTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Characterization of an obstruction on the road resulting from an environmental cause.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_environmentalObstructionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="EnvironmentalObstructionTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of environmental obstructions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="avalanches">
        <xs:annotation>
          <xs:documentation>The road may be obstructed or partially obstructed due to snow slides.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="earthquakeDamage">
        <xs:annotation>
          <xs:documentation>The road may be obstructed or partially obstructed because of damage caused by an earthquake.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fallenTrees">
        <xs:annotation>
          <xs:documentation>The road is obstructed or partially obstructed by one or more fallen trees.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fallingIce">
        <xs:annotation>
          <xs:documentation>Falling ice off trees, power lines or structures which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fallingLightIceOrSnow">
        <xs:annotation>
          <xs:documentation>Falling light ice or snow off trees, power lines or structures which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="flooding">
        <xs:annotation>
          <xs:documentation>The road is obstructed or partially obstructed by flood water.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="forestFire">
        <xs:annotation>
          <xs:documentation>Traffic may be disrupted due to a forest fire adjacent to the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="grassFire">
        <xs:annotation>
          <xs:documentation>Traffic may be disrupted due to a grass fire adjacent to the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="landslips">
        <xs:annotation>
          <xs:documentation>The road may be obstructed or partially obstructed due to landslides.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rockfalls">
        <xs:annotation>
          <xs:documentation>The road may be obstructed or partially obstructed due to fallen rocks.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stormDamage">
        <xs:annotation>
          <xs:documentation>The road may be obstructed or partially obstructed by debris caused by strong winds.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeneralInstructionOrMessageToRoadUsers">
    <xs:annotation>
      <xs:documentation>General instruction and/or message that is issued by the network/road operator which is applicable to drivers and sometimes passengers.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="generalInstructionToRoadUsersType" type="sit:_GeneralInstructionToRoadUsersTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>General instruction that is issued by the network/road operator which is applicable to drivers and sometimes passengers.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_generalInstructionOrMessageToRoadUsersExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GeneralInstructionToRoadUsersTypeEnum">
    <xs:annotation>
      <xs:documentation>General instructions that may be issued to road users (specifically drivers and sometimes passengers) by an operator or operational system in support of network management activities or emergency situations.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="approachWithCare">
        <xs:annotation>
          <xs:documentation>Approach with care.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="noOvertaking">
        <xs:annotation>
          <xs:documentation>No overtaking on the specified section of road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeneralNetworkManagement">
    <xs:annotation>
      <xs:documentation>Network management action that is instigated either manually or automatically by the network/road operator.  Compliance with any resulting control may be advisory or mandatory.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="generalNetworkManagementType" type="sit:_GeneralNetworkManagementTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The type of traffic management action instigated by the network/road operator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_generalNetworkManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="GeneralNetworkManagementTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of network management actions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="temporaryTrafficLights">
        <xs:annotation>
          <xs:documentation>Traffic is being controlled by temporary traffic lights (red-yellow-green or red-green).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="GeneralObstruction">
    <xs:annotation>
      <xs:documentation>Any stationary or moving obstacle of a physical nature, other than of an animal, vehicle, environmental, or damaged equipment nature.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Obstruction">
        <xs:sequence>
          <xs:element name="obstructionType" type="sit:_ObstructionTypeEnum" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Characterization of the type of general obstruction.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_generalObstructionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Impact">
    <xs:annotation>
      <xs:documentation>An assessment of the impact that an event or operator action defined by the situation record has on the driving conditions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="capacityRemaining" type="com:Percentage" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The ratio of current capacity to the normal (free flow) road capacity in the defined direction, expressed as a percentage. Capacity is the maximum number of vehicles that can pass a specified point on the road, in unit time given the specified conditions.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfLanesRestricted" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The number of normally usable lanes on the carriageway which are now restricted either fully or partially (this may include the hard shoulder if it is normally available for operational use, e.g. in hard shoulder running schemes).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="numberOfOperationalLanes" type="com:NonNegativeInteger" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The number of usable lanes in the specified direction which remain fully operational (this may include the hard shoulder if it is being used as an operational lane).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="residualLaneWidth" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The width of lanes after any lane narrowing</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="residualRoadWidth" type="com:MetresAsFloat" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The total width of the combined operational lanes in the specified direction.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="delays" type="sit:Delays" minOccurs="0" />
      <xs:element name="_impactExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfrastructureDamageObstruction">
    <xs:annotation>
      <xs:documentation>An obstruction on the road resulting from the failure or damage of infrastructure on, under, above or close to the road.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Obstruction">
        <xs:sequence>
          <xs:element name="infrastructureDamageType" type="sit:_InfrastructureDamageTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Characterization of an obstruction on the road resulting from the failure or damage of infrastructure on, under, above or close to the road.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_infrastructureDamageObstructionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="InfrastructureDamageTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of infrastructure damage which may have an effect on the road network.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="damagedRoadSurface">
        <xs:annotation>
          <xs:documentation>Damage to the road surface that may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="MaintenanceWorks">
    <xs:annotation>
      <xs:documentation>Roadworks involving the maintenance or installation of infrastructure.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Roadworks">
        <xs:sequence>
          <xs:element name="roadMaintenanceType" type="sit:_RoadMaintenanceTypeEnum" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type of road maintenance or installation work at the specified location.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_maintenanceWorksExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NetworkManagement" abstract="true">
    <xs:annotation>
      <xs:documentation>Network management action which is applicable to the road network and its users.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:OperatorAction">
        <xs:sequence>
          <xs:element name="complianceOption" type="sit:_ComplianceOptionEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Defines whether the network management instruction or the control resulting from a network management action is advisory or mandatory.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="forVehiclesWithCharacteristicsOf" type="com:VehicleCharacteristics" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The characteristics of those vehicles for which the network management is applicable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_networkManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NonWeatherRelatedRoadConditions">
    <xs:annotation>
      <xs:documentation>Road surface conditions that are not related to the weather but which may affect driving conditions.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:RoadSurfaceConditions">
        <xs:sequence>
          <xs:element name="nonWeatherRelatedRoadConditionType" type="sit:_NonWeatherRelatedRoadConditionTypeEnum" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type of road conditions which are not related to the weather.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_nonWeatherRelatedRoadConditionsExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="NonWeatherRelatedRoadConditionTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of road surface conditions which are not related to the weather.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="looseChippings">
        <xs:annotation>
          <xs:documentation>Increased skid risk and injury risk due to loose chippings on road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mudOnRoad">
        <xs:annotation>
          <xs:documentation>Increased skid risk due to mud on road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="oilOnRoad">
        <xs:annotation>
          <xs:documentation>Increased skid risk due to oil on road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="petrolOnRoad">
        <xs:annotation>
          <xs:documentation>Increased skid risk due to petrol on road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadSurfaceInPoorCondition">
        <xs:annotation>
          <xs:documentation>The road surface is damaged, severely rutted or potholed (i.e. it is in a poor state of repair).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="slipperyRoad">
        <xs:annotation>
          <xs:documentation>The road surface is slippery due to an unspecified non-weather related cause.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Obstruction" abstract="true">
    <xs:annotation>
      <xs:documentation>Any stationary or moving obstacle of a physical nature (e.g. obstacles or vehicles from an earlier accident, shed loads on carriageway, rock fall, abnormal or dangerous loads, or animals etc.) which could disrupt or endanger traffic.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:TrafficElement">
        <xs:sequence>
          <xs:element name="_obstructionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="ObstructionTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of obstructions on the roadway.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="childrenOnRoadway">
        <xs:annotation>
          <xs:documentation>Children on the roadway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="cyclistsOnRoadway">
        <xs:annotation>
          <xs:documentation>Cyclists on the roadway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="incident">
        <xs:annotation>
          <xs:documentation>Incidents are chance occurrences involving vehicles from the traffic stream, which could present potential hazards to road users.  This item excludes accidents.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="objectOnTheRoad">
        <xs:annotation>
          <xs:documentation>The road may be obstructed or traffic hindered due to objects laying on the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="obstructionOnTheRoad">
        <xs:annotation>
          <xs:documentation>Unspecified obstruction on the roadway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="peopleOnRoadway">
        <xs:annotation>
          <xs:documentation>People on the roadway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rescueAndRecoveryWork">
        <xs:annotation>
          <xs:documentation>Work is being undertaken by emergency services which may present a hazard to road users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="shedLoad">
        <xs:annotation>
          <xs:documentation>Spillage of transported goods on the roadway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="spillageOnTheRoad">
        <xs:annotation>
          <xs:documentation>Includes all situations where a spillage has occurred on the roadway due to an earlier incident.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unprotectedAccidentArea">
        <xs:annotation>
          <xs:documentation>An accident area which has not been protected and may present a hazard to road users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OperatorAction" abstract="true">
    <xs:annotation>
      <xs:documentation>Actions that an authorised operator can decide to implement to prevent or help correct dangerous or poor driving conditions, or any actions affecting normal operation of a road.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:SituationRecord">
        <xs:sequence>
          <xs:element name="_operatorActionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PoorEnvironmentConditions">
    <xs:annotation>
      <xs:documentation>Any environmental conditions which may be affecting the driving conditions on the road.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Conditions">
        <xs:sequence>
          <xs:element name="poorEnvironmentType" type="sit:_PoorEnvironmentTypeEnum" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type of environment condition which is affecting driving conditions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_poorEnvironmentConditionsExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="PoorEnvironmentTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of poor environmental conditions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="badWeather">
        <xs:annotation>
          <xs:documentation>Adverse weather conditions are affecting driving conditions.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blizzard">
        <xs:annotation>
          <xs:documentation>Heavy snowfall in combination with strong winds, limiting visibility to 50m or less.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blowingDust">
        <xs:annotation>
          <xs:documentation>Dust blowing across the roadway causing significantly reduced visibility.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="blowingSnow">
        <xs:annotation>
          <xs:documentation>Fallen snow moving due to the forces of wind.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="crosswinds">
        <xs:annotation>
          <xs:documentation>Strong cross winds across the direction of the roadway (e.g. on a ridge or bridge).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="damagingHail">
        <xs:annotation>
          <xs:documentation>Large falling ice pellets or frozen rain capable of causing injury or damage to property.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="denseFog">
        <xs:annotation>
          <xs:documentation>Dense fog, limiting visibility to 50m or less.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="eclipse">
        <xs:annotation>
          <xs:documentation>Eclipse, either partial or full, of the sun causing low light levels during normal daylight period.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="extremeCold">
        <xs:annotation>
          <xs:documentation>Abnormally low temperatures.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="extremeHeat">
        <xs:annotation>
          <xs:documentation>Abnormally high expected maximum temperature.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fog">
        <xs:annotation>
          <xs:documentation>Fog, visibility more than 50m.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="freezingFog">
        <xs:annotation>
          <xs:documentation>Fog, in conjunction with sub-zero air temperatures causing possible freezing of road surface.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="frost">
        <xs:annotation>
          <xs:documentation>Frost can be expected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gales">
        <xs:annotation>
          <xs:documentation>Winds between 60 km/h and 90 km/h.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gustyWinds">
        <xs:annotation>
          <xs:documentation>Constantly varying winds, significant at times.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hail">
        <xs:annotation>
          <xs:documentation>Falling ice pellets or frozen rain.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="heavyFrost">
        <xs:annotation>
          <xs:documentation>A thick coating of frost can be expected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="heavyRain">
        <xs:annotation>
          <xs:documentation>Heavy rainfall, limiting visibility to 50m or less.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="heavySnowfall">
        <xs:annotation>
          <xs:documentation>Dense falling snow, limiting visibility to 50m or less.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hurricaneForceWinds">
        <xs:annotation>
          <xs:documentation>Winds over 120 km/h.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowSunGlare">
        <xs:annotation>
          <xs:documentation>Difficult visibility conditions created by low elevation sunlight.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="moderateFog">
        <xs:annotation>
          <xs:documentation>Misty conditions impairing vision over 100m.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ozonePollution">
        <xs:annotation>
          <xs:documentation>High concentrations of ozone are present.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pollution">
        <xs:annotation>
          <xs:documentation>Pollution of an unspecified nature.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="patchyFog">
        <xs:annotation>
          <xs:documentation>Fog, in which intermittent areas of dense fog may be encountered.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="precipitationInTheArea">
        <xs:annotation>
          <xs:documentation>Unspecified precipitation is falling on the area.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rain">
        <xs:annotation>
          <xs:documentation>Rain, visibility more than 50m.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rainChangingToSnow">
        <xs:annotation>
          <xs:documentation>Falling rain is changing to snow.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sandStorms">
        <xs:annotation>
          <xs:documentation>Sand blowing across the roadway causing significantly reduced visibility.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="severeExhaustPollution">
        <xs:annotation>
          <xs:documentation>Pollution from exhaust fumes has reached a level sufficient to cause concern.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="severeSmog">
        <xs:annotation>
          <xs:documentation>Environmental warning of very poor air quality resulting from smog.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="showers">
        <xs:annotation>
          <xs:documentation>Light rain or intermittent rain.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sleet">
        <xs:annotation>
          <xs:documentation>Rain mingled with snow or hail.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="smogAlert">
        <xs:annotation>
          <xs:documentation>Environmental warning of poor air quality resulting from smog.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="smokeHazard">
        <xs:annotation>
          <xs:documentation>Smoke drifting across the roadway causing significantly reduced visibility.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snowChangingToRain">
        <xs:annotation>
          <xs:documentation>Falling snow is changing to rain.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="snowfall">
        <xs:annotation>
          <xs:documentation>Falling snow, visibility more than 50m.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sprayHazard">
        <xs:annotation>
          <xs:documentation>Reduced visibility resulting from spray created by moving vehicles on a wet roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stormForceWinds">
        <xs:annotation>
          <xs:documentation>Winds between 90 km/h and 120 km/h.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="strongGustsOfWind">
        <xs:annotation>
          <xs:documentation>Constantly varying winds, strong at times.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="strongWinds">
        <xs:annotation>
          <xs:documentation>Winds between 40 km/h and 60 km/h.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="swarmsOfInsects">
        <xs:annotation>
          <xs:documentation>Large numbers of insects which create a hazard for road users through reduced visibility.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="temperatureFalling">
        <xs:annotation>
          <xs:documentation>The temperature is falling significantly.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="thunderstorms">
        <xs:annotation>
          <xs:documentation>Electrical storms, generally with heavy rain.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tornadoes">
        <xs:annotation>
          <xs:documentation>Very violent, whirling windstorms affecting narrow strips of country.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="veryStrongGustsOfWind">
        <xs:annotation>
          <xs:documentation>Constantly varying winds, very strong at times.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="visibilityReduced">
        <xs:annotation>
          <xs:documentation>Environmental conditions causing reduced visibility.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="whiteOut">
        <xs:annotation>
          <xs:documentation>Falling snow in blizzard conditions resulting in very reduced visibility.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="winterStorm">
        <xs:annotation>
          <xs:documentation>Heavy rain, sleet, hail and/or snow in combination with strong winds, limiting visibility to 50m or less.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ProbabilityOfOccurrenceEnum">
    <xs:annotation>
      <xs:documentation>Levels of confidence that the sender has in the information, ordered {certain, probable, risk of}.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="certain">
        <xs:annotation>
          <xs:documentation>The source is completely certain of the occurrence of the situation record version content.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="probable">
        <xs:annotation>
          <xs:documentation>The source has a reasonably high level of confidence of the occurrence of the situation record version content.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="riskOf">
        <xs:annotation>
          <xs:documentation>The source has a moderate level of confidence of the occurrence of the situation record version content.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PublicEvent">
    <xs:annotation>
      <xs:documentation>Organised public event which could disrupt traffic.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Activity">
        <xs:sequence>
          <xs:element name="publicEventType" type="com:_PublicEventTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Type of public event which could disrupt traffic.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_publicEventExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RoadMaintenanceTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of road maintenance.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="clearanceWork">
        <xs:annotation>
          <xs:documentation>Clearance work of an unspecified nature.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="grassCuttingWork">
        <xs:annotation>
          <xs:documentation>Grass cutting work.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="maintenanceWork">
        <xs:annotation>
          <xs:documentation>Maintenance of road, associated infrastructure or equipments.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="repairWork">
        <xs:annotation>
          <xs:documentation>Repair work to road, associated infrastructure or equipments.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadMarkingWork">
        <xs:annotation>
          <xs:documentation>Striping and repainting of road markings, plus placement or replacement of reflecting studs (cats' eyes).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadworks">
        <xs:annotation>
          <xs:documentation>Road maintenance or improvement activity of an unspecified nature which may potentially cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treeAndVegetationCuttingWork">
        <xs:annotation>
          <xs:documentation>Tree and vegetation cutting work adjacent to the roadway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RoadOrCarriagewayOrLaneManagement">
    <xs:annotation>
      <xs:documentation>Road, carriageway or lane management action that is instigated by the network/road operator.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="roadOrCarriagewayOrLaneManagementType" type="sit:_RoadOrCarriagewayOrLaneManagementTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Type of road, carriageway or lane management action instigated by operator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_roadOrCarriagewayOrLaneManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="RoadOrCarriagewayOrLaneManagementTypeEnum">
    <xs:annotation>
      <xs:documentation>Management actions relating to road, carriageway or lane usage.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="closedPermanentlyForTheWinter">
        <xs:annotation>
          <xs:documentation>The road is closed to vehicles with the specified characteristics or all, if none defined, for the duration of the winter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="contraflow">
        <xs:annotation>
          <xs:documentation>Two-way traffic is temporarily sharing a single carriageway.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hardShoulderRunningInOperation">
        <xs:annotation>
          <xs:documentation>The hard shoulder is open as an operational lane.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="intermittentShortTermClosures">
        <xs:annotation>
          <xs:documentation>Road closures occur intermittently on the specified road in the specified direction for short durations.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="laneClosures">
        <xs:annotation>
          <xs:documentation>Lane closures are in operation at the specified location for vehicles with the specified characteristics or all, if none defined, in the specified direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="overnightClosures">
        <xs:annotation>
          <xs:documentation>Every night the road is closed to vehicles with the specified characteristics or all, if none defined, in the specified direction by decision of the appropriate authorities.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadCleared">
        <xs:annotation>
          <xs:documentation>The road has been cleared of earlier reported problems.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadClosed">
        <xs:annotation>
          <xs:documentation>The road is closed to vehicles with the specified characteristics or all, if none defined, in the specified direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rushHourLaneInOperation">
        <xs:annotation>
          <xs:documentation>Dedicated rush (peak) hour lane(s) are in operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="singleAlternateLineTraffic">
        <xs:annotation>
          <xs:documentation>Traffic is being controlled to move in alternate single lines. This control may be undertaken by traffic lights or flagman.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="tidalFlowLaneInOperation">
        <xs:annotation>
          <xs:documentation>Dedicated tidal flow lane(s) are in operation in the specified direction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RoadSurfaceConditions" abstract="true">
    <xs:annotation>
      <xs:documentation>Conditions of the road surface which may affect driving conditions. These may be related to the weather (e.g. ice, snow etc.) or to other conditions (e.g. oil, mud, leaves etc. on the road)</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Conditions">
        <xs:sequence>
          <xs:element name="_roadSurfaceConditionsExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Roadworks" abstract="true">
    <xs:annotation>
      <xs:documentation>Road maintenance, installation and construction activities, works in the road, or other construction or maintenance actions that may affect normal operation of a road.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:OperatorAction">
        <xs:sequence>
          <xs:element name="_roadworksExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SeverityEnum">
    <xs:annotation>
      <xs:documentation>Levels of severity of a situation as whole assessed by the impact that the situation may have on traffic flow as perceived by the supplier.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="highest">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as being of the highest level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="high">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as being of a high level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="medium">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as being of a medium level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="low">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as being of a low level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowest">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as being of the lowest discernible level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as having a severity rating of none.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unknown">
        <xs:annotation>
          <xs:documentation>Perceived by supplier as being of an unknown level.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Situation">
    <xs:annotation>
      <xs:documentation>An identifiable instance of a traffic/travel situation comprising one or more traffic/travel circumstances which are linked by one or more causal relationships. Each traffic/travel circumstance is represented by a Situation Record.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="overallSeverity" type="sit:_SeverityEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The overall assessment of the impact (in terms of severity) that the situation as a whole is having, or will have, on the traffic flow as perceived by the supplier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="situationVersionTime" type="com:DateTime" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date/time that this current version of the Situation was written into the database of the supplier which is involved in the data exchange. Identity and version of the situation are defined by the class stereotype implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="headerInformation" type="com:HeaderInformation" />
      <xs:element name="situationRecord" type="sit:SituationRecord" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Details of the Situation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="_situationExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="SituationPublication">
    <xs:annotation>
      <xs:documentation>A publication containing zero or more traffic/travel situations.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="com:PayloadPublication">
        <xs:sequence>
          <xs:element name="situation" type="sit:Situation" minOccurs="0" maxOccurs="unbounded" />
          <xs:element name="_situationPublicationExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SituationRecord" abstract="true">
    <xs:annotation>
      <xs:documentation>An identifiable versioned instance of a single record/element within a situation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="situationRecordCreationReference" type="com:String" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>A unique alphanumeric reference (e.g. an external reference or a UUID) of the SituationRecord object (the first version of the record) that was created by the original supplier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="situationRecordCreationTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date/time that the SituationRecord object (the first version of the record) was created by the original supplier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="situationRecordVersionTime" type="com:DateTime" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date/time that this current version of the SituationRecord within the situation was written into the database of the supplier which is involved in the data exchange. Identity and version of record are defined by the class stereotype implementation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="probabilityOfOccurrence" type="sit:_ProbabilityOfOccurrenceEnum" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>An assessment of the degree of likelihood that the reported event will occur.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="severity" type="sit:_SeverityEnum" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The assessment of the impact (in terms of severity) that this element of the situation is having, or will have, on the traffic flow as perceived by the supplier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="safetyRelatedMessage" type="com:Boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicates whether this SituationRecord specifies a safety-related traffic situation. At least all traffic situations governed by Commission Delegated Regulation (EU) No 886/2013 shall be indicated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="validity" type="com:Validity" />
      <xs:element name="impact" type="sit:Impact" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Impact of the situation element</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cause" type="sit:Cause" minOccurs="0" />
      <xs:element name="generalPublicComment" type="sit:Comment" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A comment which may be freely distributed to the general public</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locationReference" type="loc:LocationReference" />
      <xs:element name="_situationRecordExtension" type="com:_ExtensionType" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:string" use="required" />
    <xs:attribute name="version" type="xs:string" use="required" />
  </xs:complexType>
  <xs:complexType name="SpeedManagement">
    <xs:annotation>
      <xs:documentation>Speed management action that is instigated by the network/road operator.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="speedManagementType" type="sit:_SpeedManagementTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Type of speed management action instigated by operator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="temporarySpeedLimit" type="com:KilometresPerHour" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Temporary limit defining the maximum advisory or mandatory speed of vehicles.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_speedManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SpeedManagementTypeEnum">
    <xs:annotation>
      <xs:documentation>Management actions relating to speed.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="activeSpeedControlInOperation">
        <xs:annotation>
          <xs:documentation>Automatic speed control measures are in place at the specified location, whereby speed limits are set by an automatic system which is triggered by traffic sensing equipment.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="doNotSlowdownUnnecessarily">
        <xs:annotation>
          <xs:documentation>Do not slow down unnecessarily.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="observeSpeedLimit">
        <xs:annotation>
          <xs:documentation>Observe speed limit.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="policeSpeedChecksInOperation">
        <xs:annotation>
          <xs:documentation>Police speed checks are in operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reduceYourSpeed">
        <xs:annotation>
          <xs:documentation>Reduce your speed.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="speedRestrictionInOperation">
        <xs:annotation>
          <xs:documentation>A speed restriction is in operation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TrafficConstrictionTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of constriction to which traffic is subjected as a result of an event.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="carriagewayBlocked">
        <xs:annotation>
          <xs:documentation>The carriageway is totally obstructed in the specified direction due to an unplanned event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="carriagewayPartiallyObstructed">
        <xs:annotation>
          <xs:documentation>The carriageway is partially obstructed in the specified direction due to an unplanned event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanesBlocked">
        <xs:annotation>
          <xs:documentation>One or more lanes is totally obstructed in the specified direction due to an unplanned event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lanesPartiallyObstructed">
        <xs:annotation>
          <xs:documentation>One or more lanes is partially obstructed in the specified direction due to an unplanned event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadBlocked">
        <xs:annotation>
          <xs:documentation>The road is totally obstructed, for all vehicles in both directions, due to an unplanned event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="roadPartiallyObstructed">
        <xs:annotation>
          <xs:documentation>The road is partially obstructed in both directions due to an unplanned event.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TrafficElement" abstract="true">
    <xs:annotation>
      <xs:documentation>An event which is not planned by the traffic operator, which is affecting, or has the potential to affect traffic flow.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:SituationRecord">
        <xs:sequence>
          <xs:element name="trafficConstrictionType" type="sit:_TrafficConstrictionTypeEnum" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>The type of constriction to which traffic is subjected as a result of an unplanned event</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_trafficElementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VehicleObstruction">
    <xs:annotation>
      <xs:documentation>An obstruction on the road caused by one or more vehicles.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:Obstruction">
        <xs:sequence>
          <xs:element name="vehicleObstructionType" type="sit:_VehicleObstructionTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Characterization of an obstruction on the road caused by one or more vehicles.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_vehicleObstructionExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VehicleObstructionTypeEnum">
    <xs:annotation>
      <xs:documentation>Types of obstructions involving vehicles.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="abnormalLoad">
        <xs:annotation>
          <xs:documentation>Vehicle(s) carrying exceptional load(s) which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="brokenDownVehicle">
        <xs:annotation>
          <xs:documentation>Broken down vehicle(s) on the carriageway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="damagedVehicle">
        <xs:annotation>
          <xs:documentation>Damaged vehicle(s) on the carriageway which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicleCarryingHazardousMaterials">
        <xs:annotation>
          <xs:documentation>Vehicles carrying materials of a hazardous nature are present and these could expose road users to additional hazards.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicleOnWrongCarriageway">
        <xs:annotation>
          <xs:documentation>A vehicle is travelling the wrong way along a divided highway (i.e. on the wrong side).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicleStuck">
        <xs:annotation>
          <xs:documentation>One or more vehicles are stuck (i.e. unable to move) due to environmental conditions such as a snow drift or severe icy road.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicleWithOverheightLoad">
        <xs:annotation>
          <xs:documentation>An over-height vehicle which may present a hazard to road users.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="vehicleWithOverwideLoad">
        <xs:annotation>
          <xs:documentation>A vehicle of width greater than that normally allowed which may cause traffic disruption.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other than as defined in this enumeration.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="_extended" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WeatherRelatedRoadConditions">
    <xs:annotation>
      <xs:documentation>Road surface conditions that are related to the weather which may affect the driving conditions, such as ice, snow or water.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:RoadSurfaceConditions">
        <xs:sequence>
          <xs:element name="weatherRelatedRoadConditionType" type="com:_WeatherRelatedRoadConditionTypeEnum" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The type of road surface condition that is related to the weather which is affecting the driving conditions.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_weatherRelatedRoadConditionsExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WinterDrivingManagement">
    <xs:annotation>
      <xs:documentation>Winter driving management action that is instigated by the network/road operator.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sit:NetworkManagement">
        <xs:sequence>
          <xs:element name="winterEquipmentManagementType" type="com:_WinterEquipmentManagementTypeEnum" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Type of winter equipment management action instigated by operator.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="_winterDrivingManagementExtension" type="com:_ExtensionType" minOccurs="0" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>